{% extends "layouts/master.html" %}

{% block pageheader %} Reporte de Enfermeria {% endblock %}
{% block paneltitle %} Morbilidades de Antiguo y Nuevo Ingreso {% endblock %}

{% block panelcontent %}
<form id="reporte_enfermeria_Form" action="" method="post">{% csrf_token %}
<div class="container">
    
    <div class="row">
        <div class="col-md-offset-1 col-md-3" style="padding-top: 7px;">
                <strong>Fecha de Inicio</strong>
                <input type="date" name="fechaInicio" id="id_fechaInicio" class="form-control" value="{{ fechaInicio }}">
        </div>
        <div class="col-md-offset-1 col-md-3" style="padding-top: 7px;">
                <strong>Fecha de Finalizacion</strong>
                <input type="date" name="fechaFin" id="id_fechaFin" class="form-control" value="{{ fechaFin }}">
        </div>
        <div class="col-md-offset-1 col-md-3" style="padding-top: 27px;">
                <button id="generar_reporte_enfermeria" type="submit" class="btn btn-success"><span class="glyphicon glyphicon glyphicon-stats"></span>&nbsp Generar Reporte</button>
        </div>
    </div>
</div>
<div style="padding-top: 7px;">
    <div class="panel panel-info">
        <table class="columns">
            <tr>
                <td>
                    <div class="panel-body">
                        <div class="chartfix" id="antiguochart" style="width: 600px; height: 600px;"></div>
                    </div>
                </td>
                <td>
                    <div class="panel-body">
                        <div class="chartfix" id="nuevochart" style="width: 600px; height: 600px;"></div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="col-md-offset-3 col-md-10" style="padding-top: 7px;">
                		{% if morbilidadAntiguo_list or morbilidadNuevo_list %}
                		    <strong>Morbilidades de Antiguo y Nuevo Ingreso del {{fechaInicio}} al {{fechaFin}}</strong>
				            <div class="row">
				 	            <div class="col-md-3"><strong>Generar Archivo:</strong></div>
				 	            <a href="{% url 'morbilidadExcel-new' inicio=fechaInicio fin=fechaFin %}" class="btn btn-info" style="float: center"><span class="glyphicon glyphicon-list-alt"></span>&nbsp Excel</a>
				            </div>
		                {% else %}
		                <strong><p>No hay registro para este rango de fechas</p></strong>
		                {% endif %}
           </div>

    </div>
</div>
<div>
</div>

{% endblock %}

{% block googlecharts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(antiguoChart);
    google.charts.setOnLoadCallback(nuevoChart);
    
    function antiguoChart() {

        var data = google.visualization.arrayToDataTable([
            {% if morbilidadAntiguo_list %}
            ['Morbilidad', 'Consultas'],
                {% for antiguo in morbilidadAntiguo_list %}
                     ['{{ antiguo.0 }}', {{ antiguo.1 }} ],
                {% endfor %}
            {% else %}
                ['Sin Datos', 40]
            {% endif %}
        ]);

        var options = {
          title: 'Morbilidad Antiguo Ingreso',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('antiguochart'));

        chart.draw(data, options);
    }
    
        function nuevoChart() {

        var data = google.visualization.arrayToDataTable([
            {% if morbilidadNuevo_list %}
            ['Morbilidad', 'Consultas'],
                {% for nuevo in morbilidadNuevo_list %}
                     ['{{ nuevo.0 }}', {{ nuevo.1 }} ],
                {% endfor %}
            {% else %}
                ['Sin Datos', 40]
            {% endif %}
        ]);

        var options = {
          title: 'Morbilidad Nuevo Ingreso',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('nuevochart'));

        chart.draw(data, options);
    }
    
    $(window).resize(function(){
        antiguoChart();
        nuevoChart();
    });
});
</script>
{% endblock %}
</form>
