<!-- 
name: doctor-view
Presenta los datos de un Doctor
!-->
{% extends "layouts/master.html" %}
{% load user_group %}

{% block pageheader %} Personal de Bienestar Universitario {%endblock%}
{% block paneltitle %} Detalles del Doctor: {{ empleado.apellidoPrimero }} {%endblock%}

{% block panelcontent %}
    <div class="panel panel-info">
        <div class="panel-body" style="padding-left: 50px; padding-top: 0px;">
            <h3 class="page-header text-left">DATOS PERSONALES</h3>
			<div class="row">
				<div class="col-md-4" style="padding-top: 7px;">
					Primer Apellido:
					<span class="subrayado">
						<strong>{{ empleado.apellidoPrimero }}</strong>
					</span>
				</div>
				<div class="col-md-4" style="padding-top: 7px;">
					Segundo Apellido:
					<span class="subrayado">
						{% if empleado.apellidoSegundo %}
						<strong>{{ empleado.apellidoSegundo }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-4" style="padding-top: 7px;">
					Nombres:
					<span class="subrayado">
						<strong>{{ empleado.nombrePrimero }} {{ empleado.nombreSegundo }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					Sexo:
					<span class="subrayado">
						{% if empleado.sexo == 'F' %}
						<strong>Femenino</strong>
						{% else %}
						<strong>Masculino</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-5" style="padding-top: 17px;">
					Fecha de Nacimiento:
					<span class="subrayado">
						<strong>{{ empleado.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					Cargo:
					<span class="subrayado">
						{% if empleado.cargo == 'D' %}
						<strong>Doctor</strong>
						{% elif empleado.cargo == 'E' %}
						<strong>Enfermera</strong>
						{% elif empleado.cargo == 'A' %}
						<strong>Personal de Archivo</strong>
						{% elif empleado.cargo == 'P' %}
						<strong>Personal Administrativo</strong>
						{% else %}
						<strong>Otro</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-4" style="padding-top: 17px;">
					Estado del Empleado:
					<span class="subrayado">
						{% if empleado.estadoEmpleado == 'A' %}
						<strong>Activo</strong>
						{% else %}
						<strong>Inactivo</strong>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 50px; padding-top: 0px;">
            <h3 class="page-header text-left">DATOS MEDICOS</h3>
			<div class="row">
				<div class="col-md-10" style="padding-top: 7px;">
					Especialidad:
					<span class="subrayado">
						<strong>{{ especialidad.especialidad }}</strong>
					</span>
				</div>
			</div>
			<h4 style="padding-top: 17px; padding-left: 200px;">HORARIOS DE ATENCION</h4>
			<div class="row">
				<div class="col-md-10">
					Dias de atencion:
					<span class="subrayado">
						{% for j in horarios.dia.all %}
						<strong>{{ j.dias}}</strong>
						{% endfor %}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					Hora de Inicio de la consulta:
					<span class="subrayado">
						<strong>{{horarios.horaInicio}}</strong>
					</span>
				</div>
				<div class="col-md-5" style="padding-top: 17px;">
					Hora de Finalizacion de la consulta:
					<span class="subrayado">
						<strong>{{horarios.horaFinal}}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					Pacientes atendidos por hora de consulta:
					<span class="subrayado">
						<strong>{{ horarios.pacienteConsulta}}</strong>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10" style="padding-top: 17px; padding-left:30px;">
			Tomo informaci&oacute;n: 
			<span class="subrayado">
				<strong>{{ empleado.nombreRecibido.get_full_name }}</strong>
			</span>
		</div>
	</div>
	<div class="row" style=" margin-bottom:50px;">
		<div class="col-md-10" style="padding-top: 17px; padding-left:30px;">
				Fecha de ingreso de datos:
			<span class="subrayado">
				<strong>{{ empleado.fechaIngreso }}</strong>
			</span>
		</div>
	</div>
	<div class="col-md-12 operaciones">
     	{% if empleado.estadoEmpleado == 'A' %}
			{% if user|has_group:"direccion" or user|has_group:"jefe_archivo" or user|has_group:"archivo" or user|has_group:"administradores" or user|has_group:"desarrolladores" %}
			<a href="{% url 'empleados-list' %}" class="btn btn-primary" title="Ir a Lista de Empleados"><span class="glyphicon glyphicon-list-alt"></span> L. Empleados </a>
			<a href="{% url 'doctor-list' %}" class="btn btn-primary" title="Ir a Lista de Doctores en Citas Medicas"><span class="glyphicon glyphicon-list-alt"></span> L. Citas Medicas </a>
			<a href="{% url 'empleados-update' pk=empleado.codigoEmpleado %}" class="btn btn-warning" title="Modificar los Datos del Empleado "><span class="glyphicon glyphicon-pencil"></span> Md. Datos Empleado </a>
			{% if user|has_group:"direccion" or user|has_group:"desarrolladores" %}
			<a href="{% url 'doctor-update' pk=doctor.codigoDoctor %}" class="btn btn-warning" title="Modificar los Datos del Doctor"><span class="glyphicon glyphicon-pencil"></span> Md. Datos Doctor</a>
			<a href="{% url 'doctor-delete' pk=doctor.codigoDoctor %}" class="btn btn-danger" style="float: right; "><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
			{% endif %}
			{% endif %}
		{% endif %}
		{% if empleado.estadoEmpleado == 'P' %}
			{% if user|has_group:"direccion" or user|has_group:"jefe_archivo" or user|has_group:"archivo" or user|has_group:"administradores" or user|has_group:"desarrolladores" %}
			<a href="{% url 'empleados-eliminadoslist' %}" class="btn btn-primary" title="Volver al Listado de Empleados"><span class="glyphicon glyphicon-arrow-left"></span> </a>
			{% if user|has_group:"direccion" or user|has_group:"desarrolladores" %}
			<a href="{% url 'doctor-restaurar' pk=doctor.codigoDoctor %}" class="btn btn-success" ><span class="glyphicon glyphicon-repeat"></span> Restaurar</a>
			{% endif %}
			{% endif %}
		{% endif %}

	</div>
{%endblock%}