<!-- 
name: empleados-list
Presenta un listado de todos los empleados de Bienestar Universitario
!-->
{% extends "layouts/master.html" %}
{% load user_group %}

{% block pageheader %} Personal Activo {%endblock%}
{% block paneltitle %} Personal de Bienestar Universitario {% endblock %}

{% block panelcontent%}
   <div class="table-responsive">
       <a href="{% url 'empleados-new' %} " class="btn btn-success" title="Agregar Nuevo Empleado"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
       <br />
	   {% if datoCargo %}    
	    {% for i in datoCargo %}
	       {% if i.0 == 'D' %}
		       <h4 id="subtitulo">Doctor</h4>
		   {% elif i.0 == 'E' %}
		       <h4 id="subtitulo">Enfermera</h4>
		   {% elif i.0 == 'A' %}
		       <h4 id="subtitulo">Personal de Archivo</h4>
		   {% elif i.0 == 'P' %}
		       <h4 id="subtitulo">Personal Administrativo</h4>
		   {% else %}
		       <h4 id="subtitulo">Otro</h4>
		   {% endif %}
		   <table class="table table-hover" id="empleadoslist">
             <tr class="success">
               <th>Nombre</th>
               <th>Apellido</th>
               <th class="opciones">Ver</th>
			   <th class="opciones">Modificar</th>
			   <th class="opciones">Eliminar</th>
             </tr>
		   {% for empleado in empleados %}
		      {% if i.0 == empleado.cargo %}
			     <tr>
                    <td>{{ empleado.nombrePrimero }}</td>
                    <td>{{ empleado.apellidoPrimero }}</td>
					<td class="opciones">
                     <a href="{% url 'empleados-view' pk=empleado.codigoEmpleado %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
				    </td>
					<td class="opciones">
                     <a href="{% url 'empleados-update' pk=empleado.codigoEmpleado %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
				    </td>
					<td class="opciones">
					 <a href="{% url 'empleados-delete' pk=empleado.codigoEmpleado %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
                 </tr>
			  {% endif %}
		   {% endfor %}	
		     </table>
	   {% endfor %}
	   {% else %}
		<h3 class="vacio">NO HAY PERSONAL REGISTRADO</h3>
	   {% endif %}
	   <h3 style="text-align:center; margin-top: 50px;">MEDICOS DE BIENESTAR UNIVERSITARIO</h3>
	   {% if datoEspecialidad %} 
	   <div style="float: right; color:red;">
		 <ul>
			<li> Mod.Empleado*: Para modificar los datos del empleado </li>
			<li> Mod.Doctor*: Para modificar los datos del Doctor</li>
		  </ul>
		</div>
	   {% for i in datoEspecialidad %}
	       <h4 id="subtitulo">{{ i.1 }}</h4>
		   <table class="table table-hover" id="doctoreslist">
             <tr class="success">
               <th>Nombre</th>
               <th>Apellido</th>
               <th class="opciones">Ver</th>
			   <th class="opciones">Mod.Empleado*</th>
			   {% if user|has_group:"direccion" or user|has_group:"desarrolladores" %}
			   <th class="opciones">Mod.Doctor*</th>
			   <th class="opciones">Eliminar</th>
			   {% endif %}
             </tr>
			{% for doctor in doctores %}
		      {% if i.0 == doctor.especialidad_id %}
				<tr>
                 <td>{{ doctor.codigoEmpleado.nombrePrimero }}</td>
                 <td>{{ doctor.codigoEmpleado.apellidoPrimero }}</td>
                 <td class="opciones">
                     <a href="{% url 'doctor-view' pk=doctor.codigoDoctor %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
				 </td>
				 <td class="opciones">
                     <a href="{% url 'empleados-update' pk=doctor.codigoEmpleado_id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
				 </td>
				 {% if user|has_group:"direccion" or user|has_group:"desarrolladores" %}
				 <td class="opciones">
                     <a href="{% url 'doctor-update' pk=doctor.codigoDoctor %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
				 </td>
				 <td class="opciones">
					 <a href="{% url 'doctor-delete' pk=doctor.codigoDoctor %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
				 </td>
				 {% endif %}
                </tr>
			  {% endif %}
			{% endfor %}
			</table>
	   {% endfor %}
	   {% else %}
		<h3 class="vacio">NO HAY MEDICOS REGISTRADOS</h3>
	   {% endif %}
	   <h3 style="text-align:center; margin-top: 70px;">LABORATORISTAS DE BIENESTAR UNIVERSITARIO</h3>
	   {% if lab %} 
	   <div style="float: right; color:red;">
		 <ul>
			<li> Mod.Empleado*: Para modificar los datos del empleado </li>
			<li> Mod.Labt*: Para modificar los datos del Laboratorista</li>
		  </ul>
		</div>
		<table class="table table-hover" id="doctoreslist">
            <tr class="success">
               <th>Nombre</th>
               <th>Apellido</th>
               <th class="opciones">Ver</th>
			   <th class="opciones">Mod.Empleado*</th>
			   {% if user|has_group:"direccion" or user|has_group:"desarrolladores" %}
			   <th class="opciones">Mod.Labt*</th>
			   <th class="opciones">Eliminar</th>
			   {% endif %}
             </tr>
			{% for l in lab %}
				<tr>
                 <td>{{ l.codigoEmpleado.nombrePrimero }}</td>
                 <td>{{ l.codigoEmpleado.apellidoPrimero }}</td>
                 <td class="opciones">
                     <a href="{% url 'empleados-view' pk=l.codigoEmpleado_id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
				 </td>
				 <td class="opciones">
                     <a href="{% url 'empleados-update' pk=l.codigoEmpleado_id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
				 </td>
				 {% if user|has_group:"direccion" or user|has_group:"desarrolladores" %}
				 <td class="opciones">
                     <a href="'laboratorista-update' pk=l.codigoLaboratorista" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
				 </td>
				 <td class="opciones">
					 <a href="{% url 'empleados-delete' pk=l.codigoEmpleado_id %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
				 </td>
				 {% endif %}
                </tr>
			{% endfor %}
			</table>
	   {% else %}
		<h3 class="vacio">NO HAY LABORATORISTAS REGISTRADOS REGISTRADOS</h3>
	   {% endif %}
	   <a href="{% url 'empleados-eliminadoslist'%}" class="btn btn-danger" style="float: right" title="Listado de Empleados Inactivos"><span class="glyphicon glyphicon-trash" ></span> Eliminados</a>
   </div>
{% endblock %}