{% extends "layouts/master.html" %}

{% block pageheader %} Empleados de Bienestar Universitario {% endblock %}
{% block paneltitle %} Cambio de Password {% endblock %}

{% block panelcontent %}
{% if validlink %}
        <p>Por Favor entre su nuevo password dos veces.<br />
           Asi podemos verficicar que lo ha hecho correctamente.</p>
<form id="cu_cambiopassForm" action="" method="post">{% csrf_token %}
    <div class="ayuda" style="text-align:right">
			<p>(*) campos requeridos </p>
	</div>
	<div class="panel panel-info">
	    <div class="panel-body">
	        <div class="row">
	            <div class="col-md-3">
	                {{form.pass1.label_tag}}
	                <span class="ayuda">(*)</span>
	                {{form.pass1}}
	            </div>
	        </div>
	        <br /><br />
	        <div class="row">
	            <div class="col-md-3">
	                {{form.pass2.label_tag}}
	                <span class="ayuda">(*)</span>
	                {{form.pass2}}
	            </div>
	        </div>
	    </div>
	    <br /><br />
	    <button id="enviar" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
	    <a href="{% url 'logouts' %}" class="btn btn-danger">Cerrar Sesi&oacute;n </a>
	</div>
</form>	
    {% else %}
        <h1>Su Password no fue reestablecido correctamente.</h1>
        <p>El link para reestablecer el password no es valido, <br />
        Posiblemente por que ya ha sido usado. <br />
        Por favor solicite de nuevo reestablcer su password.</p>
    {% endif %}
{% endblock %}