{% extends "layouts/master.html" %}

{% block pageheader %} Empleados de Bienestar Universitario {% endblock %}
{% block paneltitle %} Cambio de Password {% endblock %}

{% block panelcontent %}
<p>Por Favor especifique su direccion de correo electronico, para recibir instrucciones de reestablecer el password.</p>

<form id="resetPasswordForm" action="" method="post">{% csrf_token %}
     {{ form.email.errors }}
    <div class="ayuda" style="text-align:right">
			<p>(*) campos requeridos </p>
	</div>
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
             <div class="row">
                  <div class="col-md-4">
                       <div class="form-group">
                            {{form.email.label_tag}}
                            <span class="ayuda">(*)</span>
                            {{ form.email }}<br />
                            <button id="save_user" type="submit" class="btn btn-success">Enviar <span class="glyphicon glyphicon-send"></span></button>
                       </div>
                  </div>
             </div>
        </div>
     </div>
</form>
{% endblock%}