{% autoescape off %}
Ha Recibido este e-mail ya que solicito un cambio de password para su cuenta de usuarios en El Sistema de Gestion de Expedientes y control de citas de Bienestar Universitario, UES.

Por favor vaya a la siguiente pagina y escoge un nuevo password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'cuentas_usuarioapp.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Su Nombre de usuario en caso de que lo olvide: {{ user.username }}

Gracias Por usar nuestro Sistema.

Pase un Buen Dia.
{% endautoescape %}