{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Bienestar Universitario</title>
    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/mastertweaks.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block googlecharts %}{% endblock %}
    {% block headscripts %}{% endblock %}
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expedientes <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Expediente Clinico</li>
                <li><a href="{% url 'datospersonales-new' %}">Crear Expediente</a></li>
                <li><a href="{% url 'datospersonales-list' %}">Consultar Expediente</a></li>
                <li class="dropdown-header">Crear Cola Enfermeria</li>
                <li><a href="{% url 'cola_consulta-list' %}">Cola Consulta</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Citas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laboratorio cl&iacute;nico <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Gestionar Examenes de Laboratorio</li>
                <li><a href="{% url 'laboratorio-list' %}">Seleccionar Paciente y Tipo de Examen</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Listado de Examenes de Laboratorio</li>
                <li><a href="{% url 'hematologia-list' %}">Examenes de Hematologia</a></li>
                <li><a href="{% url 'examen_heces-list' %}">Examenes de Heces</a></li>
                <li><a href="{% url 'examen_orina-list' %}">Examenes de Orina</a></li>
                <li><a href="{% url 'examen_general-list' %}">Examenes de Resultados Generales de Nuevo Ingreso</a></li>
                <li><a href="{% url 'examen_quimica-list' %}">Examenes de Quimica Sanguinea</a></li>
                <li><a href="{% url 'examen_especiales-list' %}">Examenes Especiales</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enfermer&iacute;a <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Expediente Provisional</li>
                <li><a href="{% url 'expedienteprovisonal-new' %}">Crear Expediente Provisional</a></li>
                <li><a href="{% url 'expedienteprovisonal-list' %}">Consultar Expediente Provisional</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Actividades de Enfermeria</li>
                <li><a href="{% url 'actividad-new' %}">Crear Nueva Actividad</a></li>
                <li><a href="{% url 'actividades-list' %}">Ver Listado de Actividades</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Censo de Labores Diarias Enfermeria</li>
                <li><a href="{% url 'censo-new' %}">Registrar Censo</a></li>
                <li><a href="{% url 'censo-list' %}">Ver Consolidado de LAbores Diarias</a></li>
                
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Consulta General <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Consulta General</li>
                <li><a href="">Consulta</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Datos y Estad&iacute;sticas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Reportes de Enfermeria</li>
                <li><a href="{% url 'censo-reporte' %}">Censo de Actividades</a></li>
                <li><a href="{% url 'morbilidad-reporte' %}">Morbilidad</a></li>
                <li><a href="{% url 'pacientes_por_medico-reporte' %}">Pacientes Atendidos Por Medico</a></li>
                <li><a href="{% url 'consulta_especialidad-reporte' %}">Consultas Por Especialidad</a></li>
                <li><a href="{% url 'referencias-reporte' %}">Referencias</a></li>
                <li><a href="{% url 'tipo_consulta-reporte' %}">Primera y Consulta Subsecuente</a></li>
                <li><a href="{% url 'visto_bueno-reporte' %}">Visto Bueno</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Reportes de Archivo</li>
                <li><a href="{% url 'consulta-general-procedencia-reporte' %}">Consulta General Segun Procedencia</a></li>
                <li><a href="{% url 'consulta-general-genero-reporte' %}">Consulta General Segun Genero</a></li>
                <li><a href="{% url 'consulta-general-paciente-reporte' %}">Consulta General Segun Tipo Paciente</a></li>
             </ul>
            </li>
            <li><a href="{% url 'index' %}">Inicio</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% block header %}{% endblock %}
    
    
    {% if messages %}
      <div class="container">
        {% for message in messages %}
          {% if message.tags == "success" %}
            <div class="alert alert-success text-center" role="alert">
              <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
              <span class="sr-only">Message:</span>
              {{ message }}
            </div>
          {% endif %}
          
          {% if message.tags == "info" %}
            <div class="alert alert-info text-center" role="alert">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <span class="sr-only">Message:</span>
              {{ message }}
            </div>
          {% endif %}
          
          {% if message.tags == "warning" %}
            <div class="alert alert-warning text-center" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Message:</span>
              {{ message }}
            </div>
          {% endif %}
          
          {% if message.tags == "error" %}
            <div class="alert alert-danger text-center" role="alert">
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
              <span class="sr-only">Message:</span>
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    
    
    {% block content %}{% endblock %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.autocomplete.min.js" %}"></script>
    <script src="{% static "js/bootstrapvalidator/validator.min.js" %}"></script>
    <script src="{% static "js/bootbox.min.js" %}"></script>
  </body>
</html>
