{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- ander meta name="description" content="" -->
    <!-- ander meta name="author" content="" -->
    <!-- ander link rel="icon" href="../../favicon.ico" -->
    
    <title>Bienestar Universitario</title>
    
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/hometweaks.css" %}" rel="stylesheet">
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios M&eacute;dicos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Consulta General</a></li>
                <li><a href="#">Medicina Interna</a></li>
                <li><a href="#">Dermatolog&iacute;a</a></li>
                <li><a href="#">Ginecolog&iacute;a</a></li>
                <li><a href="#">Oftalmolog&iacute;a</a></li>
                <li><a href="#">Ortopedia</a></li>
                <li><a href="#">Otorrinolaringolog&iacute;a</a></li>
                <li><a href="#">Psicolog&iacute;a</a></li>
                <li><a href="#">Nutrici&oacute;n</a></li>
                <li><a href="#">Fisioterapia</a></li>
              </ul>
            </li>
            <li><a href="#">Aspirantes Nuevo Ingreso</a></li>
            <!--<li><a href="#">Visto Bueno</a></li>-->
            
            <!--<li><a href="#">¿Qui&eacute;nes Somos?</a></li>-->
            <li><a href="#">Misi&oacute;n y Visi&oacute;n</a></li>
            <li><a href="#">Objetivos y Valores</a></li>
            
            <li><a href="#">Laboratorio Cl&iacute;nico</a></li>
            <li><a href="#">Enfermer&iacute;a</a></li>
            <!--<li><a href="#">Farmacia</a></li>-->
            
            <!--<li><a href="#">Otros Servicios</a></li>-->
            <!--<li><a href="#">Galer&iacute;a de Fotos</a></li>-->
            <!--<li><a href="#">Documentos</a></li>-->
            
            <li><a href="#">Trabajo Social</a></li>
            <!--<li><a href="#">Control de Calidad</a></li>-->
            <li><a href=""><b>Bienvenid@ </b>{% firstof user.get_short_name user.get_username %}</a></li> 
			      <li><a href="">Ayuda</a> </li> 
			      <li><a href="{% url 'logouts' %}">Cerrar Sesi&oacute;n</a> </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{% static "images/ocean.jpg" %}" alt="First slide">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            <!-- ... -->
          </div>
        </div>
        <div class="item">
          <img src="{% static "images/sun.jpg" %}" alt="Second slide">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            <!-- ... -->
          </div>
        </div>
        <div class="item">
          <img src="{% static "images/sunrise.jpg" %}" alt="Third slide">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            <!-- ... -->
          </div>
        </div>
      </div>
    
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <h1 class="text-center">Secretar&iacute;a de Bienestar Universitario</h1>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="{% static "images/newminerva.png" %}" alt="prev image" class="img-rounded center-block">
        </div>
        <div class="col-lg-4">
          <!--<h2>Heading</h2>-->
          <!--<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>-->
          <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
        </div>
        <div class="col-lg-4">
          <img src="{% static "images/newmedical.png" %}" alt="next image" class="img-rounded center-block">
        </div>
      </div>
      <div class="row">
        <h3 class="text-center"><em>"La salud es un derecho que todos debemos cuidar y exigir"</em></h3>
      </div>
    </div>
    
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4 class="text-right">Final 25 Av. Norte</h4>
            <h4 class="text-right">Ciudad Universitaria</h4>
            <h4 class="text-right">Secretar&iacute;a de Bienestar Universitario</h4>
          </div>
          <div class="col-lg-4">
            <h4 class="text-center">Todos los derechos reservados</h4>
            <h4 class="text-center">Bienestar Universitario - Universidad de El Salvador</h4>
            <h4 class="text-center">El Salvador</h4>
          </div>
          <div class="col-lg-4">
            <!-- minerva logo here-->
            <h4 class="text-right"><em>"Hacia la libertad por la cultura"</em></h4>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>