{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Bienestar Universitario</title>
	<script src="/static/js/jquery.min.js"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilopersonalizado.css' %}" rel="stylesheet">
	<link rel="shortcut icon" sizes="147x196" href='{% static "images/newmedical.png" %}'>
	    
  </head>
  
  <body class=" login">
    <div class="row">
	  <div class="col-md-3 col-xs-1">
        <img src='{% static "images/newminerva.png" %}' style="width:120px; height:160px;" class="img-rounded center-block">
      </div>
	  <div class="col-md-6 col-xs-8">
		<h1 class="text-center">UNIVERSIDAD DE EL SALVADOR</h1>
		<h2 class="text-center">BIENESTAR UNIVERSITARIO</h2>
	  </div>
	  <div class="col-md-3 col-xs-1">
        <img src='{% static "images/newmedical.png" %}' style="width:120px; height:160px;" class="img-rounded center-block">
      </div>
	</div>
	{% if messages %}
	  <div class='row'>
		<div class='col-xs-12'>
		{% for message in messages %}
		{% if message.tags == "success" %} <p class="alert alert-success"><span class="glyphicon glyphicon-ok-sign"></span> {{ message }}</p>{% endif %}
		{% if message.tags == "info" %} <p class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {{ message }}</p>{% endif %}
		{% if message.tags == "warning" %} <p class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> {{ message }}</p>{% endif %}
		{% if message.tags == "error" %} <p class="alert alert-danger"><span class="glyphicon glyphicon-remove-sign"></span> {{ message }}</p>{% endif %}
		{% endfor %}
		</div>
	  </div>
	{% endif %}
	<div class="container-fluid">
	  <div class="row" style="padding: 20px;">
		<h4 class="text-center">Bienvenid@ al Sistema de Gestion de Expedientes</h4>
	  </div>
	  <div id="container">
			<div id="header">
				<h3 class="text-center">LOGIN</h3>
			</div>
			<div id="content">
				<div id="content-main">
				<form id='login-form' method='post' action=''>{% csrf_token %}
					<div class="form-row">
						<table>{{formulario}}</table>
					</div>
					<div class="submit-row">
						<button id="save_personalpaciente" type="submit" class="btn btn-success">Iniciar Sesi&oacute;n</button><br />
						
					</div>
					<a href="{% url 'password_reset' %}" style="margin-left:35%;font-size:16px;">Olvide mi password </a>
				</form>
				</div>
			</div>
	  </div>
    </div>
      <div class="row">
		<div class="col-md-12">
			<h4 class="text-center"><em>"La salud es un derecho que todos debemos cuidar y exigir"</em></h4>
		</div>
	  </div>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/validacionesPersonales.js' %}"></script>
	
  </body>
</html>