<!-- 
name: datospersonales-restaurar
Presenta algunos datos del expediente para confirmar restauracion de un paciente que se encuentra como archivo pasivo
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Restaurar expediente cl&iacute;nico {%endblock%}
{% block paneltitle %} <strong>Expediente: </strong>{{ paciente.codigoPaciente }} {%endblock%}

{% block panelcontent %}
    <h3 class="msjRestaurar"> Esta seguro que desea restaurar el expediente: {{ paciente.codigoPaciente }} ? </h3>
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 50px; padding-top: 0px;">
            <div class="row">
				<div class="col-md-2" style="padding-top: 17px;">
					<span class="subrayado">
						<strong>{{ paciente.apellidoPrimero }}</strong>
					</span><br>
					Primer Apellido
				</div>
				<div class="col-md-2" style="padding-top: 17px;">
					<span class="subrayado">
						{% if paciente.apellidoSegundo %}
						<strong>{{ paciente.apellidoSegundo }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span><br>
					Segundo Apellido
				</div>
				<div class="col-md-6" style="padding-top: 17px;">
					<span class="subrayado">
						<strong>{{ paciente.nombrePrimero }} {{ paciente.nombreSegundo }}</strong>
					</span><br>
					Nombres
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" style="padding-top: 17px;">
					Sexo:
					<span class="subrayado">
						{% if paciente.sexo == 'F' %}
						<strong>Femenino</strong>
						{% else %}
						<strong>Masculino</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-5" style="padding-top: 17px;">
					Fecha de Nacimiento:
					<span class="subrayado">
						<strong>{{ paciente.fechaNacimiento|date:"SHORT_DATE_FORMAT" }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" style="padding-top: 17px;">
					Edad:
					<span class="subrayado">
						<strong>{{ paciente.edad_paciente }}</strong>
					</span>
				</div>
				<div class="col-md-5" style="padding-top: 17px;">
					Estado Civil:
					<span class="subrayado">
						{% if paciente.sexo == 'F' %}
						<strong>{{ paciente.estadoCivil }}A</strong>
						{% else %}
						<strong>{{ paciente.estadoCivil }}O</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					NIT:
					<span class="subrayado">
						<strong>{{ paciente.nit }}</strong>
					</span>
				</div>
				{% if paciente.dui  %}
				<div class="col-md-3" style="padding-top: 17px;">
					DUI:
					<span class="subrayado">
						<strong>{{ paciente.dui }}</strong>
					</span>
				</div>
				{% endif %}
				{% if paciente.due  %}
				<div class="col-md-3" style="padding-top: 17px;">
					DUE:
					<span class="subrayado">
						<strong>{{ paciente.due }}</strong>
					</span>
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					Estado UES:
					<span class="subrayado">
						{% if paciente.estadoUes == 'EST' %}
						<strong>Estudiante</strong>
						{% elif paciente.estadoUes == 'DOC' %}
						<strong>Docente</strong>
						{% elif paciente.estadoUes == 'PAD' %}
						<strong>Pers.Administrativo</strong>
						{% else %}
						<strong>Otro</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-6" style="padding-top: 17px;">
					Facultad:
					<span class="subrayado">
						<strong>{{ paciente.facultadE }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10" style="padding-top: 17px;">
					Direcci&oacute;n:
					<span class="subrayado">
						<strong>{{ paciente.direccion }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					Departamento:
					<span class="subrayado">
						<strong>{{ paciente.codDepartamento }}</strong>
					</span>
				</div>
				<div class="col-md-6" style="padding-top: 17px;">
					Municipio:
					<span class="subrayado">
						<strong>{{ paciente.codMunicipio }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10" style="padding-top: 17px;">
					Fecha de inscripci&oacute;n:
					<span class="subrayado">
						<strong>{{ paciente.fechaIngreso }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10" style="padding-top: 17px;">
					Ultima modificaci&oacute;n:
					<span class="subrayado">
						<strong>{{ paciente.fechaModificacion }}</strong>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" style="padding-top: 17px;">
					Estado del Expediente:
					<span class="subrayado">
						{% if paciente.estadoExpediente == 'A' %}
						<strong>Activo</strong>
						{% else %}
						<strong>Inactivo</strong>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<form action=" " method="post">{% csrf_token %}
	<div class="col-md-offset-4 col-md-3 operaciones">
      <button id="regresar_personalpaciente" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Si</button>
	  <a href="{% url 'datospersonales-eliminadoslist' %}" class="btn btn-danger" title="Volver a Inactivos"><span class="glyphicon glyphicon-ban-circle"></span> Cancelar</a>
    </div>
	</form>
{%endblock%}