<!-- 
name: datospersonales-list
Presenta un listado de los expedientes permanentes activos
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Archivo de Expedientes Activos {%endblock%}
{% block paneltitle %} Pacientes de Bienestar Universitario {% endblock %}

{% block panelcontent%}
   <div class="table-responsive">
      <a href="{% url 'datospersonales-new' %} " class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
	   <a href=" {% url 'datospersonales-busqueda' %}" class="btn btn-info" style="float: right"><span class="glyphicon glyphicon-search"></span> Busqueda avanzada</a>
	   {% for i in datoFacult %}
	       <h3 id="subtitulo">{{ i.1 }}</h3>
		   <table class="table table-hover" id="pacientelist">
				<tr class="success">
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th class="opciones">Ver</th>
					<th class="opciones">Modificar</th>
					<th class="opciones">Cola</th>
					<th class="opciones">Eliminar</th>
				</tr>
		   {% for paciente in personalpaciente %}
		       {% if i.0 == paciente.facultadE_id %}
				<tr>
					<td>{{ paciente.codigoPaciente}}</td>
					<td>{{ paciente.nombrePrimero}}</td>
					<td>{{ paciente.apellidoPrimero}}</td>
					<td class="opciones">
						<a href="{% url 'datospersonales-view' pk=paciente.codigoPaciente %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-large"></span></a>
					</td>
					<td class="opciones">
						<a href="{% url 'datospersonales-update' pk=paciente.codigoPaciente %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
					</td>
					<td class="opciones">
						<a href="{% url 'cola_enfermeria-new' pk=paciente.codigoPaciente %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span></a>
					</td>
					<td class="opciones">
						<a href="{% url 'datospersonales-delete' pk=paciente.codigoPaciente %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
					<td class="opciones">
						<a href="{% url 'consulta-inicio' pk=paciente.codigoPaciente %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span></a>
					</td>
				 </tr>
			   {% endif %}
		   {% endfor %}
			</table>
	   {% endfor %}
	   <a href="{% url 'cola_enfermeria-list' %}" class="btn btn-info" style="float: left"><span class="glyphicon glyphicon-eye-open"></span> Ver cola de enfermeria</a>
	   <a href="{% url 'datospersonales-eliminadoslist' %}" class="btn btn-danger" style="float: right"><span class="glyphicon glyphicon-trash"></span> Listado de eliminados</a>
   </div>
{% endblock %}