<!-- 
name: censo_enfermeria-new
Este es la pagina/formulario donde se ingresa el censo de labores diarias de enfermeria

!-->

{% extends "layouts/master.html" %}

{% block pageheader %} Labores Diarias de Enfermeria {% endblock %}
{% block paneltitle %} Censo de Actividades Enfermeria {% endblock %}

{% block panelcontent %}
<form id="censo_Form" action="" method="post">{% csrf_token %}
    <div class="ayuda" style="text-align:right">
			<p>(*) campos requeridos </p>
	</div>
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">REGISTRE LA ACTIVIDAD</h3>
			<div class="row">
				<div class="col-md-3" style="padding-top: 7px;">
					{{ form.actividad.label_tag }} 
					<span class="ayuda"> {{ form.actividad.help_text }} </span>
				</div>
				<div class="col-md-8" style="padding-top: 7px;">
					<div class="form-group">
						{{ form.actividad }} 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3" style="padding-top: 7px;">
					{{ form.cantidad.label_tag }} 
					<span class="ayuda"> {{ form.cantidad.help_text }} </span>
				</div>
				<div class="col-md-8" style="padding-top: 7px;">
					<div class="form-group">
						{{ form.cantidad }} 
					</div>
				</div>
			</div>
		</div>
	</div>    
    <div class="col-md-offset-9 col-md-10">
        <button id="save_censo" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
           <a href="{% url 'censo-list' %}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span>Volver a la lista</a>
    </div>
</form>
{% endblock %}