{% extends "layouts/beta.html" %}
{% block content %}
<form id="rpe_censo_Actividad_Form" action="" method="POST">{% csrf_token %}
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Informe de Actividades de Enfermeria</h1>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-3" style="padding-top: 7px;">
                    <strong>Fecha de Inicio</strong>
                    <input type="date" name="fechaInicio" id="id_fechaInicio" class="form-control" value="{{ fechaInicio }}">
            </div>
            <div class="col-md-offset-1 col-md-3" style="padding-top: 7px;">
                    <strong>Fecha de Finalizacion</strong>
                    <input type="date" name="fechaFin" id="id_fechaFin" class="form-control" value="{{ fechaFin }}">
            </div>
            <div class="col-md-offset-1 col-md-3" style="padding-top: 27px;">
                    <button id="generar_reporte_enfermeria" type="submit" class="btn btn-success"><span class="glyphicon glyphicon glyphicon-stats "></span>&nbsp Generar Reporte</button>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 7px;">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="chartfix" style="width: 1100px; height: 600px;" id="chart0"></div>
            <div class="col-md-offset-3 col-md-8" style="padding-top: 7px;">
                		{% if censo_list %}
                		    <strong>Censo de Actividades del {{fechaInicio}} al {{fechaFin}}</strong>
				            <div class="row">
				 	            <div class="col-md-3"><strong>Generar Archivo:</strong></div>
				 	            <a href="{% url 'censoActividadExcel-new' inicio=fechaInicio fin=fechaFin %}" class="btn btn-info" style="float: center"><span class="glyphicon glyphicon-list-alt"></span>&nbsp Excel</a>
				            </div>
		                {% else %}
		                <strong><p>No hay registro para este rango de fechas</p></strong>
		                {% endif %}
           </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block googlecharts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Actividad');
        data.addColumn('number', 'Cantidad');
        data.addRows([
          {% if censo_list %}
                {% for censo in censo_list %}
                     ['{{ censo.1 }}', {{ censo.2 }} ],
                {% endfor %}
            {% else %}
                ['Sin Datos', 40]
            {% endif %}
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data);
      }
    
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            {% if censo_list %}
            ['Actividad', 'Cantidad'],
                {% for censo in censo_list %}
                     ['{{ censo.1 }}', {{ censo.2 }} ],
                {% endfor %}
            {% else %}
                ['Sin Datos', 40]
            {% endif %}
        ]);

        var options = {
          title: 'Actividades de Enfermeria',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart0'));

        chart.draw(data, options);
    
    }
    
    $(window).resize(function(){
        drawChart();
    });
    
   
});
</script>
{% endblock %}
</form>
