<!-- 
name: laboratorio-list
Presenta un listado de los examenes de orina
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Listado de Examenes de Orina {%endblock%}
{% block paneltitle %} Laboratorio Clinico de Bienestar Universitario {% endblock %}

{% block panelcontent%}
   <div class="table-responsive">
       <!--<a href=" " class="btn btn-info" style="float: right"><span class="glyphicon glyphicon-search"></span> Busqueda avanzada</a>!-->
       <table class="table table-hover" id="examenOrinalist">
           <tr class="success">

               <th>Codigo de Expediente</th>
               <th>Nombre Completo</th>
               <th>Ver Detalles</th>
           </tr>
           {% for examen_orina in examen_orina %}
             <tr>
                 <td>{{ examen_orina.paciente_id}}</td>
                 <td>{{ examen_orina.paciente.get_full_name}}</td>
                 <td>
                  <a href="{% url 'laboratorioapp.views.examen_orina_detalle' pk=examen_orina.codExamen_Orina %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                 </td>
             </tr>
           {% endfor %}
       </table>
   </div>
{% endblock %}