<!-- 
name: laboratorio-list
Presenta un listado de los expedientes permanentes activos
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Listado de Examenes de Hematologia {%endblock%}
{% block paneltitle %} Laboratorio Clinico de Bienestar Universitario {% endblock %}

{% block panelcontent%}
   <div class="table-responsive">
      {% if hematologia %}
       <table class="table table-hover" id="hematologialist">
           <tr class="success">

               <th>Codigo de Expediente</th>
               <th>Nombre Completo</th>
               <th class="opciones">Ver Detalles</th>
           </tr>
           {% for hematologia in hematologia %}
             <tr>
                 <td>{{ hematologia.paciente_id}}</td>
                 <td>{{ hematologia.paciente.get_full_name}}</td>
                 <td class="opciones">
                  <a href="{% url 'laboratorioapp.views.hematologia_detalle' pk=hematologia.codExamen_Hematologia %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                 </td>
             </tr>
           {% endfor %}
       </table>
	  {% else %}
		<h3 class="vacio">NO HAY EXAMENES REGISTRADOS</h3>
	{% endif %}
   </div>
{% endblock %}