<!-- 
name: examen_pruebas_especiale-new y pruebas_especiales-update
Vista para la creacion y modificacion de examen de laboratorio de pruebas especiales
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} LABORATORIO CLINICO {% endblock %}
{% block paneltitle %} EXAMEN DE PRUEBAS ESPECIALES {% endblock %}

{% block panelcontent %}
<form id="examen_pruebas_especiale" action="" enctype="multipart/form-data" method="post">{% csrf_token %}

	<div class="row" >
		<div class="col-md-3" style="padding-top: 0px;">
			<div class="form-group">
				<div class="input-group">
						<label for="l_eleccion" ><strong>&nbsp&nbspSUBIR ARCHIVO:&nbsp&nbsp</strong></label>
	    				<input type="checkbox" id="l_eleccion" value="cargarArchivo"  name="eleccion" onclick="resultado.disabled=!resultado.disabled; tipoExamen.disabled=!tipoExamen.disabled;archivo.disabled=!archivo.disabled"> <br>
				</div>
			</div>
		</div>
		<div class="col-md-7" style="padding-top: 0px;">
				<div class="form-group">
					<div class="input-group">
			    		<label for="l_archivo"><strong>SELECCIONAR UN ARCHIVO</strong></label>
						<span class="ayuda"> (*) </span>
					</div>
					<div class="input-group">
						<span class="btn btn-primary btn-file">
    			        <strong>CARGAR ARCHIVO</strong><input type="file" name="archivo" disabled>
			           	</span>
					</div>
				</div>
		</div>
	</div>

    <div class="ayuda" style="text-align:right">
			<p>(*) campos requeridos </p>
	</div>
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
        	<br>
        	<table border="0" cellspacing="0" cellpadding="0" align="right">
        			<tr>
			    		<td style="padding-right: 20px; padding-top: 0px;"><strong>N° EXPEDIENTE:</strong></td>
			    		<td style="padding-right: 20px; padding-top: 0px;"><input type="text" class="form-control" id="id_codigoPaciente" name="codigoPaciente" value="{{ paciente.codigoPaciente }}" READONLY/></td>
			    	</tr>
			    	<tr>
			    		<td style="padding-right: 20px; padding-top: 20px;"><strong>FECHA:</strong></td>
			    		<td style="padding-right: 20px; padding-top: 20px;"><input class="form-control" id="id_fechaIngreso" name="fechaIngreso" type="text" value="{% now 'SHORT_DATETIME_FORMAT' %}" READONLY/></td>
			    	</tr>
			</table>
			<br>
            <h3 class="page-header text-left"><strong>DATOS DEL PACIENTE</strong></h3>
			<div class="row">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
			    		<td style="width:110px"><strong>&nbsp&nbsp&nbsp&nbspPACIENTE:</strong></td>
			    		<td style="width:628px"><input type="text" class="form-control" id="id_paciente" name="paciente" value="{{ paciente.get_full_name }}" required="True"READONLY/></td>
			    	
			    		
			    		<td style="width:134px"><strong>EDAD:</strong></td>
			    		<td style="width:196px">
			    			<div class="input-group">
			    			<input type="number" class="form-control" id="id_edad" name="edad" value="{{ paciente.edad_paciente }}" required="True"READONLY/>
			    		    <span class="input-group-addon">Años</span>
			    		    </div>
			    		</td>
					</tr>
				</table>
            </div>
        </div>
	</div>
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left"><strong>RESULTADOS DEL EXAMEN</strong></h3>
            <div class="row">
				<div class="col-md-2" style="padding-top: 7px;">
					<div class="form-group">
						<div class="input-group">
						<label for="id_tipoExamen"><strong>TIPO DE EXAMEN:</strong></label>
						<span class="ayuda"> (*) </span>
						</div>
					</div>
				</div>
				<div class="col-md-3" style="padding-top: 7px;">
					<div class="form-group">
						<div class="input-group">
						<input type="text" class="form-control" id="id_tipoExamen" name="tipoExamen"/>
			    		</div>
					</div>
				</div>
            </div>
            <div class="row">
				<div class="col-md-2" style="padding-top: 7px;">
					<div class="form-group">
						<div class="input-group">
						<label for="id_resultado"><strong>RESULTADO:</strong></label>
						<span class="ayuda"> (*) </span>
						</div>
					</div>
				</div>
				<div class="col-md-10" style="padding-top: 7px;">
					<div class="form-group">
						<div class="input-group">
						<textarea class="form-control" rows="10" cols="95" name="resultado" ></textarea>
			    		</div>
					</div>
				</div>
            </div>

		</div>
	</div>
    
    <div class="col-md-offset-2 col-md-10">
      <button id="save_personalpaciente" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
      <a href="{% url 'laboratorio-list' %}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Volver a la lista</a>
    </div>
</form>
{{informacion}}
{% endblock %}