html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 178px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  clear:both;
  /* Set the fixed height of the footer here */
  height: 178px;
  background-color: #009688;
}