<!-- 
name: calendario
Vista ver el calendario
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Calendario {% endblock %}
{% block paneltitle %} Agenda del Medico: {{datos.apellidoPrimero}} {% endblock %}

{% block panelcontent %}
<div class="panel panel-info" style="margin-top: 20px;">
    <div class="panel-body"  style="padding-left: 50px; padding-top: 0px; padding-bottom: 20px;">
        <h3 class="page-header text-left">Datos Generales del Doctor</h3>
		<div class="row">
			<div class="col-md-4" >
				<div class="form-group">
	                <label for="nombre">Nombre: </label>
	                <input type="text" name="nombre" value="{{datos.get_full_name}}" class="form-control" readonly />
	            </div>
			</div>
			<div class="col-md-3" >
				<div class="form-group">
	                <label for="sexo">Sexo: </label>
	                {% if datos.sexo == 'M' %}
	                    <input type="text" name="sexo" value="Masculino" class="form-control" readonly />
	                {% else %}
	                    <input type="text" name="sexo" value="Femenino" class="form-control" readonly />
	                {% endif %}
	            </div>
			</div>
			<div class="col-md-5" >
				<div class="form-group">
					<label for="especial">Especialidad: </label> 
					<input type="text" name="especialidad" value="{{ otro.especialidad }}" class="form-control" readonly />
				</div>
			</div>
		</div>
	</div>
</div>
<div id="calendar">
  {{ calendar }}
</div>	
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="{% url 'calendario' pk=doc.codigoDoctor anio=yearPrevio mes=monthPrevio%}"><span aria-hidden="true">&larr;</span> {{monthPrevioName}} {{yearPrevio}}</a></li>
	<li><a href="{% url 'calendario' pk=doc.codigoDoctor anio=year mes=month%}">Hoy</a></li>
    <li class="next"><a href="{% url 'calendario' pk=doc.codigoDoctor anio=yearSiguiente mes=monthSiguiente%}">{{monthSiguienteName}} {{yearSiguiente}} <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
<div class="col-md-4" style="display:inline-block">
    <table class="table table-bordered" id="citasDoctor">
        <tr class="success">
            <th>Color</th>
            <th>Significado</th>
        </tr>
        <tr>
            <td style="background-color:#FAF79D"></td>
            <td>Hoy</td>
        </tr>
		<tr>
            <td style="background-color:#FA756E"></td>
            <td>Fin de Semana</td>
        </tr>
		<tr>
            <td style="background-color:#8EFABB"></td>
            <td>Dias de Atencion</td>
        </tr>
		<tr>
            <td style="border: 1px solid black;"></td>
            <td>No atencion al publico</td>
        </tr>
    </table>
</div>
<div class="ayuda" style="margin: 50px; display:inline-block">
	<p>Donde:  </p>
	<p><span class="glyphicon glyphicon-user"></span> = Inscritos</p>
	<p><span class="glyphicon glyphicon-ok-circle"></span> = Cupos Disponibles </p>
</div>
<div style="clear:both">
<a href="{% url 'doctor-list' %}" class="btn btn-primary" title="Volver a Lista de Doctores en Citas Medicas"><span class="glyphicon glyphicon-arrow-left"></span> </a>
</div>
{% endblock %}








