<!-- 
name: calendario
Vista ver el calendario
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Calendario {% endblock %}
{% block paneltitle %} Agenda del Medico: {{datos.apellidoPrimero}} {% endblock %}

{% block panelcontent %}
<div class="panel panel-info" style="margin-top: 20px;">
    <div class="panel-body"  style="padding-left: 50px; padding-top: 0px; padding-bottom: 20px;">
        <h3 class="page-header text-left">Datos Generales del Doctor</h3>
		<div class="row">
			<div class="col-md-4" >
				Nombre:
				<span class="subrayado">
					<strong>{{datos.nombrePrimero}} {{datos.nombreSegundo}} {{datos.apellidoPrimero}} {{datos.apellidoSegundo}}</strong>
				</span>
			</div>
			<div class="col-md-3" >
				Sexo: 
				<span class="subrayado">
					{% if datos.sexo == 'F' %}
						<strong>Femenino</strong>
					{% else %}
						<strong>Masculino</strong>
					{% endif %}
				</span>
			</div>
			<div class="col-md-4" >
				Especialidad:
				<span class="subrayado">
					<strong>{{ otro.especialidad }}</strong>
				</span>
			</div>
		</div>
	</div>
</div>
<div id="calendar">
  {{ calendar }}
</div>	
<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><a href="{% url 'calendario' pk=doc.codigoDoctor anio=yearPrevio mes=monthPrevio%}"><span aria-hidden="true">&larr;</span> {{monthPrevioName}} {{yearPrevio}}</a></li>
	<li><a href="{% url 'calendario' pk=doc.codigoDoctor anio=year mes=month%}">Hoy</a></li>
    <li class="next"><a href="{% url 'calendario' pk=doc.codigoDoctor anio=yearSiguiente mes=monthSiguiente%}">{{monthSiguienteName}} {{yearSiguiente}} <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
<div class="col-md-4" style="display:inline-block">
    <table class="table table-bordered" id="citasDoctor">
        <tr class="success">
            <th>Color</th>
            <th>Significado</th>
        </tr>
        <tr>
            <td style="background-color:#FAF79D"></td>
            <td>Hoy</td>
        </tr>
		<tr>
            <td style="background-color:#FA756E"></td>
            <td>Fin de Semana</td>
        </tr>
		<tr>
            <td style="background-color:#8EFABB"></td>
            <td>Dias de Atencion</td>
        </tr>
		<tr>
            <td style="border: 1px solid black;"></td>
            <td>No atencion al publico</td>
        </tr>
    </table>
</div>
<div class="ayuda" style="margin: 50px; display:inline-block">
	<p>Donde:  </p>
	<p><span class="glyphicon glyphicon-king"></span> = Inscritos</p>
	<p><span class="glyphicon glyphicon-ok-circle"></span> = Cupos Disponibles </p>
</div>
<div style="clear:both">
<a href="{% url 'doctor-list' %}" class="btn btn-primary" style="float: right"><span class="glyphicon glyphicon-list-alt"></span> Ver Lista de Doctores en Citas Medicas</a>
</div>
{% endblock %}