<!-- 
name: doctor-list
Presenta un listado de los doctores que estan disponibles 
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Citas Medicas {%endblock%}
{% block paneltitle %} Doctores disponibles de Bienestar Universitario {% endblock %}

{% block panelcontent%}
<div class="table-responsive">
	{% if datoEspecialidad %}
       <a href="{% url 'paciente_list' %}" class="btn btn-info" style="float: right; margin-bottom: 15px;" title="Listado de Pacientes con cita pendiente"><span class="glyphicon glyphicon-plus"></span> Pacientes</a>
       {% for i in datoEspecialidad %}
		<h4 id="subtitulo">{{ i.1 }}</h4>
		<table class="table table-hover" id="pacientelist">
           <tr class="success" style="text-align:center">
               <th>Nombre</th>
               <th>Apellido</th>
               <th class="opciones">Ver Datos</th>
			   <th class="opciones">Ver Calendario</th>
			   <th class="opciones">Ver Citas</th>
			   <th class="opciones">Ver Cancelaciones</th>
           </tr>
		   {% for doctores in doctores %}
			{% if i.0 == doctores.especialidad_id %}
			  <tr>
				 <td>{{ doctores.codigoEmpleado.nombrePrimero}}</td>
                 <td>{{ doctores.codigoEmpleado.apellidoPrimero}}</td>
                 <td class="opciones">
                     <a href="{% url 'doctor-view' pk=doctores.codigoDoctor %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
				 </td>
				 <td class="opciones">
                     <a href="{% url 'calendario' pk=doctores.codigoDoctor anio=year mes=month%}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-calendar"></span></a>
				 </td>
				 <td class="opciones">
					<a href="{% url 'doctorcita_list' pk=doctores.codigoDoctor %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-time"></span></a>
				 </td>
				 <td class="opciones">
					<a href="{% url 'doctorcancel_list' pk=doctores.codigoDoctor %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove-circle"></span></a>
				 </td>
			  </tr>
			{% endif %}
		   {% endfor %}
		</table>
	   {% endfor %}
	{% else %}
	  <h3 class="vacio">NO HAY MEDICOS REGISTRADOS</h3>
	{% endif %}
</div>
{% endblock %}