<!-- 
url name: doctorcita_list
Presenta un listado de todas las citas por doctor
!-->
{% extends "layouts/master.html" %}
{% load user_group %}

{% block pageheader %} Citas Medicas {%endblock%}
{% block paneltitle %} Listado de citas del doctor: {{ datos.apellidoPrimero }} {% endblock %}

{% block panelcontent%}
   <div class="panel panel-info" style="margin-top: 20px;">
        <div class="panel-body"  style="padding-left: 50px; padding-top: 0px;">
            <h3 class="page-header text-left">Datos Generales del Doctor</h3>
			<div class="row">
				<div class="col-md-4" >
					Nombre:
					<span class="subrayado">
						<strong>{{datos.nombrePrimero}} {{datos.nombreSegundo}} {{datos.apellidoPrimero}}{{datos.apellidoSegundo}}</strong>
					</span>
				</div>
				<div class="col-md-3" >
					Sexo: 
					<span class="subrayado">
						{% if datos.sexo == 'F' %}
						<strong>Femenino</strong>
						{% else %}
						<strong>Masculino</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-4" >
					Especialidad:
					<span class="subrayado">
						<strong>{{ otro.especialidad }}</strong>
					</span>
				</div>
			</div>
		</div>
	</div>
   <div class="table-responsive">
     {% if doctorcitas %}
	   <table class="table table-hover" id="citasDoctor">
           <tr class="success">
               <th>Fecha</th>
               <th>Hora</th>
               <th>Paciente</th>
               <th>Estado de la cita</th>
           </tr>
           {% for doctorcitas in doctorcitas %}
             <tr>
                 <td>{{ doctorcitas.fechaConsulta  }}</td>
                 <td>{{ doctorcitas.horaConsulta }}</td>
                 <td>{{ doctorcitas.paciente }}</td>
                 <td>
					{% if doctorcitas.estadoConsulta  == 'N' %}
						Normal
					{% elif doctorcitas.estadoConsulta  == 'C' %}
						Cancelada
					{% else %}
						Reprogramar
					{% endif %}
				 </td>
             </tr>
           {% endfor %}
       </table>
	 {% else %}
		<h3 class="vacio">EL MEDICO NO CUENTA CON REGISTRO DE CITAS</h3>
	 {% endif %}
	 {% if user|has_group:"archivo" or user|has_group:"administradores" or user|has_group:"desarrolladores" %}
		<a href="{% url 'doctor-list' %}" class="btn btn-primary" title="Volver a Lista de Doctores en Citas Medicas"><span class="glyphicon glyphicon-arrow-left"></span> </a>
	   {% endif %}
   </div>
{% endblock %}