<!-- 
name: planificacionfamiliar-subview
Presenta la consulta subsecuente de una paciente
!-->
{% extends "layouts/master.html" %}
{% load user_group %}

{% block pageheader %} Gu&iacute;a de atencion en planificaci&oacute;n familiar {%endblock%}
{% block paneltitle %} <strong>Expediente: </strong>{{ datos.codigoPaciente }}</span> {%endblock%}

{% block panelcontent %}
    <div class="panel panel-info">
        <div class="panel-body"  style="padding-left: 50px; padding-top: 0px;">
            <h3 class="page-header text-left">CONSULTA SUBSECUENTE</h3>
			<div class="row">
				<div class="col-md-5" >
					No Expediente: 
					<span class="subrayado">
						<strong>{{ datos.codigoPaciente }}</strong>
					</span>
				</div>
				<div class="col-md-6" >
					Fecha:
					<span class="subrayado">
						<strong>{{ paciente.fechaIngreso }}</strong>
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-1" >
					Nombre: 
				</div>
				<div class="col-md-2" >
					<span class="subrayado">
						<strong>{{ datos.apellidoPrimero }}</strong>
					</span><br>
					Primer Apellido
				</div>
				<div class="col-md-2" >
					<span class="subrayado">
						{% if datos.apellidoSegundo %}
						<strong>{{ datos.apellidoSegundo }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span><br>
					Segundo Apellido
				</div>
				<div class="col-md-6" >
					<span class="subrayado">
						<strong>{{ datos.nombrePrimero }} {{ datos.nombreSegundo }}</strong>
					</span><br>
					Nombres
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-3" >
					Edad: 
					<span class="subrayado">
						<strong>{{ paciente.edad }}</strong>
					</span>
					A&ntilde;os
				</div>
				<div class="col-md-2" >
					Peso:
					<span class="subrayado">
						<strong>{{ paciente.peso }}</strong>
					</span>
					libras
				</div>
				<div class="col-md-4" >
					PA:
					<span class="subrayado">
						<strong>{{ paciente.presionArterial }}</strong>
					</span>
					mmHg.
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-3" >
					Metodo utilizado:
					<span class="subrayado">
						{% if paciente.metUtilizado  %}
						<strong>{{ paciente.metUtilizado }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-4" >
					Tiempo de uso:
					<span class="subrayado">
						{% if paciente.metTiempo  %}
						<strong>{{ paciente.metTiempo }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-11" >
					Historia y Hallazgos:
				</div>
			</div>
			<div class="row">
				<div class="col-md-11" >
					<span class="subrayado">
						{% if paciente.histHallazgos  %}
						<strong>{{ paciente.histHallazgos }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-2" style="padding-right: 0px;" >
					Continua con el metodo:
				</div>
				<div class="col-md-2">
					<span class="subrayado">
						{% if paciente.metContinuacion == 'S' %}
						<strong>Si</strong>
						{% else %}
						<strong>No</strong>
						{% endif %}
					</span>
				</div>
				<div class="col-md-4" >
					Cambia a:
					<span class="subrayado">
						{% if paciente.nombreCambio  %}
						<strong>{{ paciente.nombreCambio }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row" style="padding-top: 17px;">
				<div class="col-md-10" >
					Motivo del cambio:
				</div>
			</div>
			<div class="row">
				<div class="col-md-10" >
					<span class="subrayado">
						{% if paciente.motivoCambio  %}
						<strong>{{ paciente.motivoCambio }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;" >
				<div class="col-md-10" >
					Diagnostico:
				</div>
			</div>
			<div class="row">
				<div class="col-md-10" >
					<span class="subrayado">
						{% if paciente.diagnostico  %}
						<strong>{{ paciente.diagnostico }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-5" >
					Toma PAP
					<span class="subrayado">
						{% if paciente.tomaPap == 'S' %}
						<strong>Si</strong>
						{% else %}
						<strong>No</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-5" >
					Tipo de consulta
					<span class="subrayado">
						{% if paciente.tipoConsulta == 'N' %}
						<strong>Control Normal</strong>
						{% elif paciente.tipoConsulta == 'M' %}
						<strong>Morbilidad</strong>
						{% else %}
						<strong>Falla de metodo</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-10" >
					Indicaciones:
				</div>
			</div>
			<div class="row">
				<div class="col-md-10" >
					<span class="subrayado">
						{% if paciente.indicaciones  %}
						<strong>{{ paciente.indicaciones }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row" style="padding-top: 17px;">
				<div class="col-md-10" >
					Proxima consulta:
					<span class="subrayado">
						{% if paciente.proximaConsulta  %}
						<strong>{{ paciente.proximaConsulta }}</strong>
							{% if paciente.proximaConsultaLapso == 'N' %}
							<strong>Ninguno</strong>
							{% elif paciente.proximaConsultaLapso == 'D' %}
							<strong>Dias</strong>
							{% elif paciente.proximaConsultaLapso == 'S' %}
							<strong>Semanas</strong>
							{% elif paciente.proximaConsultaLapso == 'M' %}
							<strong>Meses</strong>
							{% else %}
							<strong>A&ntilde;os</strong>
							{% endif %}
						{% else %}
						<strong>SIN CITA</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-10" >
					Nombre de persona responsable:
					<span class="subrayado">
						{% if paciente.nombreResponsable  %}
						<strong>{{ paciente.nombreResponsable.get_full_name }}</strong>
						{% else %}
						<strong>-----</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-10" >
					Cargo:
					<span class="subrayado">
						{% if cargo.codigoEmpleado.cargo == 'D' %}
						<strong>Doctor</strong>
						{% elif cargo.codigoEmpleado.cargo == 'E' %}
						<strong>Enfermera</strong>
						{% elif cargo.codigoEmpleado.cargo == 'A' %}
						<strong>Personal de Archivo</strong>
						{% elif cargo.codigoEmpleado.cargo == 'P' %}
						<strong>Personal Administrativo</strong>
						{% else %}
						<strong>Otro</strong>
						{% endif %}
					</span>
				</div>
			</div>
			<div style=" margin-top: 30px; ">
				<p><b>CONTROL NORMAL:</b> Es aquel en el cual la usuaria usando de manera regular el m&eacute;todo de planificaci&oacute;n no presenta morbilidad asociada a este.</p>
				<p><b>CONTROL POR MORBILIDAD(M):</b> Considerado cuando la usuaria consulte por morbilidad asociada al m&eacute;todo utilizado, que comprometa su estado de salud con base a lo descrito en la Gu&iacute;a de Planificaci&oacute;n. </p>
				<p><b>CONTROL POR FALLA:</b> Se entender&aacute; como falla aquella en que la mujer sale embarazada utilizando correctamente un m&eacute;todo de planificaci&oacute;n familiar</p>
			</div>
		</div>
	</div>
	<hr />
	<div class="col-md-10 operaciones">
        <a href="{% url 'planificacionfamiliar-listsub' pk=paciente.pacienteInscrito_id %}" class="btn btn-primary" title="Volver a la Listado de consultas subsecuentes"><span class="glyphicon glyphicon-arrow-left"></span> </a>
        {% if  user|has_group:"ginecologos" or user|has_group:"desarrolladores" %}
		<a href="{% url 'planificacionfamiliar-subfile' pk=paciente.pacienteInscrito_id pacientesubsecuentepf_id=paciente.codigoPlanificacionSub %}" class="btn btn-info" ><span class="glyphicon glyphicon-print"></span> Imprimir</a>
		{% endif %}
    </div>
{%endblock%}