<!-- 
name: planificacionfamiliar-new
Presenta el formulario de inscripcion de una paciente a planificacion familiar
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Gu&iacutea de Atenci&oacuten en Planificaci&oacute;n Familiar {%endblock%}
{% block paneltitle %} Consulta de Inscripci&oacute;n {% endblock %}

{% block panelcontent%}
<form id="pfa_inscripcionEditarForm" action="" method="post">{% csrf_token %}
    <div class="ayuda" style="text-align:right">
		<p>(*) campos requeridos </p>
	</div>
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">DATOS GENERALES </h3>
			<div class="row" style="padding-top: 7px;" >
				<div class="col-md-2">
					{{ form.paciente.label_tag }}
					<span class="ayuda"> {{ form.paciente.help_text }} </span>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						{% if form.paciente.value %}
						<input class="form-control" id="id_codigoPaciente" maxlength="7" name="paciente" placeholder="####-##" type="text" value='{{ form.paciente.value }}' READONLY/>
						{% else %}
						{{ form.paciente }}
						{% endif %}
					</div>
				</div>
				<div class="col-md-1">
					<label>Fecha</label>
				</div>
				<div class="col-md-3">
					<input class="form-control" type="text" value="{% now 'SHORT_DATE_FORMAT' %}" READONLY/>
				</div>
			</div>
			<div class="row" style="padding-top: 7px;">
				<div class="col-md-3" style="padding-top: 20px;">
					{{ form.aniosEscolaridad.label_tag }}
					<span class="ayuda"> {{ form.aniosEscolaridad.help_text }} </span>
				</div>
				<div class="col-md-2" style="padding-top: 20px;">
					<div class="form-group">
						{{ form.aniosEscolaridad }}
					</div>
				</div>
				<div class="col-md-7">
					<div style = "padding-left: 25px"><label>INSCRIPCION</label></div>
					<div>
						<div class="col-md-4" style="padding-left: 0px;">
							{{ form.primeraVida.label_tag }}
							<span class="ayuda"> {{ form.primeraVida.help_text }} </span>
						</div>
						<div>
							{% for radio in form.primeraVida %}
							<span> {{ radio }} </span>
							{% endfor %}
						</div>
					</div>
					<div>
						<div class="col-md-4" style="padding-left: 0px;">
							{{ form.primeraInstitucion.label_tag }}
							<span class="ayuda"> {{ form.primeraInstitucion.help_text }} </span>
						</div>
						<div>
							{% for radio in form.primeraInstitucion %}
							<span> {{ radio }} </span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
	
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">ANTECEDENTES OBSTETRICOS </h3>
			<div class="row"  style="padding-top: 7px;" >
				<div class="col-md-2">
					<div class="form-group">
						{{ form.embarazos.label_tag }}
						<span class="ayuda"> {{ form.embarazos.help_text }} </span>
						{{ form.embarazos }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						{{ form.partosTermino.label_tag }}
						<span class="ayuda"> {{ form.partosTermino.help_text }} </span>
						{{ form.partosTermino }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						{{ form.prematuros.label_tag }}
						<span class="ayuda"> {{ form.prematuros.help_text }} </span>
						{{ form.prematuros }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						{{ form.abortos.label_tag }}
						<span class="ayuda"> {{ form.abortos.help_text }} </span>
						{{ form.abortos }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						{{ form.vivos.label_tag }}
						<span class="ayuda"> {{ form.vivos.help_text }} </span>
						{{ form.vivos }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;" >
				<div class="col-md-2">
					<div class="form-group">
						{{ form.nacidosVivos.label_tag }}
						<span class="ayuda"> {{ form.nacidosVivos.help_text }} </span>
						{{ form.nacidosVivos }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						{{ form.nacidosMuertos.label_tag }}
						<span class="ayuda"> {{ form.nacidosMuertos.help_text }} </span>
						{{ form.nacidosMuertos }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						{{ form.partoVaginal.label_tag }}
						<span class="ayuda"> {{ form.partoVaginal.help_text }} </span>
						{{ form.partoVaginal }}
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						{{ form.partoOpereratorio.label_tag }}
						<span class="ayuda"> {{ form.partoOpereratorio.help_text }} </span>
						{{ form.partoOpereratorio }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-4" >
					<div class="col-md-2" style="padding-left:0px">
						{{ form.fup.label_tag }}
						<span class="ayuda"> {{ form.fup.help_text }} </span>
					</div>
					<div class="form-group" style="display:inline-block">
						{{ form.fup }}
					</div>
				</div>
				<div class="col-md-5" >
					{{ form.lactando.label_tag }}
					<span class="ayuda"> {{ form.lactando.help_text }} </span>
					{% for radio in form.lactando %}
					<span>&nbsp;&nbsp;&nbsp; {{ radio }} </span>
					{% endfor %}
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div  style="padding-left:10px; padding-top: 7px;"><label> TERMINACION DEL ULTIMO EMBARAZO:</label></div>
				<div class="col-md-4" >
					{{ form.ueProductoVivo.label_tag }}
					<span class="ayuda"> {{ form.ueProductoVivo.help_text }} </span>
					{% for radio in form.ueProductoVivo %}
					<span>&nbsp;&nbsp;&nbsp; {{ radio }}   </span>
					{% endfor %}
				</div>
				<div class="col-md-6" >
					{% for radio in form.ueTerminacion %}
					<span>&nbsp;&nbsp;&nbsp;&nbsp; {{ radio }}</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">ANTECEDENTES GINECOLOGICOS </h3>
			<div class="row" style="padding-top:7px;">
				<div class="col-md-1">
					{{ form.menarquia.label_tag }}
					<span class="ayuda"> {{ form.menarquia.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.menarquia }} 
					</div>
				</div>
				<div class="col-md-1" style="padding-left:0px;">
					a&ntilde;os
				</div>
				<div class="col-md-1">
					{{ form.fur.label_tag }}
					<span class="ayuda"> {{ form.fur.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group" style="display:inline-block">
						{{ form.fur }}
					</div>
				</div>
				<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
					{{ form.edadPrimeraVez.label_tag }}
					<span class="ayuda"> {{ form.edadPrimeraVez.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group"  style="display:inline-block">
						{{ form.edadPrimeraVez }}
					</div>
				</div>
				<div class="col-md-1" style="padding-left:0px;">
					a&ntilde;os
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.dismenorrea.label_tag }}
						<span class="ayuda"> {{ form.dismenorrea.help_text }} </span>
						{% for radio in form.dismenorrea %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.cicloMenstrual.label_tag }}
						<span class="ayuda"> {{ form.cicloMenstrual.help_text }} </span>
						{% for radio in form.cicloMenstrual %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.duracionCiclo.label_tag }}
					<span class="ayuda"> {{ form.duracionCiclo.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.duracionCiclo }}
					</div>
				</div>
				<div class="col-md-1" style="padding-left:0px;">
					dias
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-5" >
					<div class="form-group">
						{{ form.sangramientos.label_tag }}
						<span class="ayuda"> {{ form.sangramientos.help_text }} </span>
						{% for radio in form.sangramientos %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					{{ form.duracionSangramiento.label_tag }}
					<span class="ayuda"> {{ form.duracionSangramiento.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.duracionSangramiento }}
					</div>
				</div>
				<div class="col-md-1" style="padding-left:0px;">
					dias
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.fechaPap.label_tag }}
					<span class="ayuda"> {{ form.fechaPap.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.fechaPap }}
					</div>
				</div>
				<div class="col-md-1" ></div>
				<div class="col-md-1" >
					{{ form.resultado.label_tag }}
					<span class="ayuda"> {{ form.resultado.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.resultado }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.agObservaciones.label_tag }}
					<span class="ayuda"> {{ form.agObservaciones.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.agObservaciones }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">ANTECEDENTES PERSONALES </h3>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.cefaleaIntensa.label_tag }}
					<span class="ayuda"> {{ form.cefaleaIntensa.help_text }} </span>
					<div class="form-group">
						{% for radio in form.cefaleaIntensa %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					{{ form.trastCardiovascular.label_tag }}
					<span class="ayuda"> {{ form.trastCardiovascular.help_text }} </span>
					<div class="form-group">
						{% for radio in form.trastCardiovascular %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.hta.label_tag }}
					<span class="ayuda"> {{ form.hta.help_text }} </span>
					<div class="form-group">
						{% for radio in form.hta %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.diabetes.label_tag }}
					<span class="ayuda"> {{ form.diabetes.help_text }} </span>
					<div class="form-group">
						{% for radio in form.diabetes %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" style="padding-right: 0px;">
					{{ form.trastHepaticos.label_tag }}
					<span class="ayuda"> {{ form.trastHepaticos.help_text }} </span>
					<div class="form-group">
						{% for radio in form.trastHepaticos %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					{{ form.trastConvulsivo.label_tag }}
					<span class="ayuda"> {{ form.trastConvulsivo.help_text }} </span>
					<div class="form-group">
						{% for radio in form.trastConvulsivo %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.varices.label_tag }}
					<span class="ayuda"> {{ form.varices.help_text }} </span>
					<div class="form-group">
						{% for radio in form.varices %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.tabaquismo.label_tag }}
					<span class="ayuda"> {{ form.tabaquismo.help_text }} </span>
					<div class="form-group">
						{% for radio in form.tabaquismo %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.cirugiaPelv.label_tag }}
					<div class="form-group">
					<span class="ayuda"> {{ form.cirugiaPelv.help_text }} </span>
						{% for radio in form.cirugiaPelv %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					{{ form.infeccionPelv.label_tag }}
					<span class="ayuda"> {{ form.infeccionPelv.help_text }} </span>
					<div class="form-group">
						{% for radio in form.infeccionPelv %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.alergias.label_tag }}
					<span class="ayuda"> {{ form.alergias.help_text }} </span>
					<div class="form-group">
						{% for radio in form.alergias %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.vih.label_tag }}
					<span class="ayuda"> {{ form.vih.help_text }} </span>
					<div class="form-group">
						{% for radio in form.vih %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" >
					{{ form.its.label_tag }}
					<span class="ayuda"> {{ form.its.help_text }} </span>
					<div class="form-group">
						{{ form.its }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.apObservaciones.label_tag }}
					<span class="ayuda"> {{ form.apObservaciones.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.apObservaciones }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-4" >
					{{ form.metAnticonceptivos.label_tag }}
					<span class="ayuda"> {{ form.metAnticonceptivos.help_text }} </span>
				</div>
				<div class="col-md-2" >
					{% for radio in form.metAnticonceptivos %}
					<span> {{ radio }} </span>
					{% endfor %}
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.metUtilizado.label_tag }}
					<span class="ayuda"> {{ form.metUtilizado.help_text }} </span>
				</div>
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.metUtilizado }}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.metTiempo.label_tag }}
					<span class="ayuda"> {{ form.metTiempo.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.metTiempo }}
					</div>
				</div>
				<div class="col-md-1" style="padding-left:0px;">
					semanas
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" style="padding-right: 0px;">
					{{ form.metJustificar.label_tag }}
					<span class="ayuda"> {{ form.metJustificar.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.metJustificar }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.metLugar.label_tag }}
					<span class="ayuda"> {{ form.metLugar.help_text }} </span>
				</div>
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.metLugar }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">EXAMEN FISICO </h3>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.temperatura.label_tag }}
						<span class="ayuda"> {{ form.temperatura.help_text }} </span>
						{{ form.temperatura }}
					</div>
				</div>
				<div style="width:5%"></div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.pulso.label_tag }}
						<span class="ayuda"> {{ form.pulso.help_text }} </span>
						{{ form.pulso }}
					</div>
				</div>
				<div style="width:5%"></div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.peso.label_tag }}
						<span class="ayuda"> {{ form.peso.help_text }} </span>
						{{ form.peso }}
					</div>
				</div>
				<div style="width:5%"></div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.presionArterial.label_tag }}
						<span class="ayuda"> {{ form.presionArterial.help_text }} </span>
						{{ form.presionArterial }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.naCabeza.label_tag }}
					<span class="ayuda"> {{ form.naCabeza.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.naCabeza %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-7" >
					<div class="form-group">
						{{ form.cabeza }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.naCuello.label_tag }}
					<span class="ayuda"> {{ form.naCuello.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.naCuello %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-7" >
					<div class="form-group">
						{{ form.cuello }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.naMamas.label_tag }}
					<span class="ayuda"> {{ form.naMamas.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.naMamas %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-7" >
					<div class="form-group">
						{{ form.mamas }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.naTorax.label_tag }}
					<span class="ayuda"> {{ form.naTorax.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.naTorax %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-7" >
					<div class="form-group">
						{{ form.torax }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.naAbdomen.label_tag }}
					<span class="ayuda"> {{ form.naAbdomen.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.naAbdomen %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-7" >
					<div class="form-group">
						{{ form.abdomen }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.naMiembros.label_tag }}
					<span class="ayuda"> {{ form.naMiembros.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.naMiembros %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-7" >
					<div class="form-group">
						{{ form.miembros }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">EXAMEN GINECOLOGICO </h3>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.genitalesExternos.label_tag }}
					<span class="ayuda"> {{ form.genitalesExternos.help_text }} </span>
					<div class="form-group">
						{% for radio in form.genitalesExternos %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" style="padding-right: 0px;">
					{{ form.cistocele.label_tag }}
					<span class="ayuda"> {{ form.cistocele.help_text }} </span>
					<div class="form-group">
						{% for radio in form.cistocele %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.gradoCistocele.label_tag }}
						<span class="ayuda"> {{ form.gradoCistocele.help_text }} </span>
						{{ form.gradoCistocele }}
					</div>
				</div>
				<div class="col-md-1" style="padding-right: 0px;">
					{{ form.rectocele.label_tag }}
					<span class="ayuda"> {{ form.rectocele.help_text }} </span>
					<div class="form-group">
						{% for radio in form.rectocele %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.gradoRectocele.label_tag }}
						<span class="ayuda"> {{ form.gradoRectocele.help_text }} </span>
						{{ form.gradoRectocele }}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.prolapsoUterino.label_tag }}
					<span class="ayuda"> {{ form.prolapsoUterino.help_text }} </span>
					<div class="form-group">
						{% for radio in form.prolapsoUterino %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.gradoProlapsoUterino.label_tag }}
						<span class="ayuda"> {{ form.gradoProlapsoUterino.help_text }} </span>
						{{ form.gradoProlapsoUterino }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.vagina.label_tag }}
					<span class="ayuda"> {{ form.vagina.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.vagina %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" >
					{{ form.snSecrecionVagina.label_tag }}
					<span class="ayuda"> {{ form.snSecrecionVagina.help_text }} </span>
				</div>
				<div class="col-md-1" style="padding-right: 0px;">
					<div class="form-group">
						{% for radio in form.snSecrecionVagina %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						{{ form.secrecionVagina }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div  style="padding-left:15px;" ><label> CUELLO UTERINO:</label></div>
				<div class="col-md-1" >
					{{ form.cuPalpacion.label_tag }}
					<span class="ayuda"> {{ form.cuPalpacion.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.cuPalpacion %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" >
					{{ form.cuConsistencia.label_tag }}
					<span class="ayuda"> {{ form.cuConsistencia.help_text }} </span>
				</div>
				<div class="col-md-2" style="padding-left: 25px;">
					<div class="form-group">
						{% for radio in form.cuConsistencia %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" >
					{{ form.cuMovilidad.label_tag }}
					<span class="ayuda"> {{ form.cuMovilidad.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{% for radio in form.cuMovilidad %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" style="padding-right: 0px;">
					{{ form.cuDolorMov.label_tag }}
					<span class="ayuda"> {{ form.cuDolorMov.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{% for radio in form.cuDolorMov %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-5" >
					<div class="form-group">
						{{ form.sangrarTacto.label_tag }}
						<span class="ayuda"> {{ form.sangrarTacto.help_text }} </span>
						{% for radio in form.sangrarTacto %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.tomaPap.label_tag }}
						<span class="ayuda"> {{ form.tomaPap.help_text }} </span>
						{% for radio in form.tomaPap %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-2" >
					{{ form.cuObservaciones.label_tag }}
					<span class="ayuda"> {{ form.cuObservaciones.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.cuObservaciones }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div  style="padding-left:15px;" ><label>UTERO:</label></div>
				<div class="col-md-1" >
					{{ form.uteroPosicion.label_tag }}
					<span class="ayuda"> {{ form.uteroPosicion.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{% for radio in form.uteroPosicion %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" >
					{{ form.uTamano.label_tag }}
					<span class="ayuda"> {{ form.uTamano.help_text }} </span>
				</div>
				<div class="col-md-1" >
					<div class="form-group">
						{% for radio in form.uTamano %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" >
					{{ form.uConsistencia.label_tag }}
					<span class="ayuda"> {{ form.uConsistencia.help_text }} </span>
				</div>
				<div class="col-md-2" style="padding-left:25px">
					<div class="form-group">
						{% for radio in form.uConsistencia %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" >
					{{ form.uMovilidad.label_tag }}
					<span class="ayuda"> {{ form.uMovilidad.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{% for radio in form.uMovilidad %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.uDolorMov.label_tag }}
						<span class="ayuda"> {{ form.uDolorMov.help_text }} </span>
						{% for radio in form.uDolorMov %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-1" >
					{{ form.usnTumores.label_tag }}
					<span class="ayuda"> {{ form.usnTumores.help_text }} </span>
				</div>
				<div class="col-md-1" style="padding-right:0px;">
					<div class="form-group">
						{% for radio in form.usnTumores %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.uTumores }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.anexosLibres.label_tag }}
						<span class="ayuda"> {{ form.anexosLibres.help_text }} </span>
						{% for radio in form.anexosLibres %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-2" style="padding-right: 0px;">
					<div class="form-group">
						{{ form.engrosados.label_tag }}
						<span class="ayuda"> {{ form.engrosados.help_text }} </span>
						{% for radio in form.engrosados %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.aDolorPalpitacion.label_tag }}
						<span class="ayuda"> {{ form.aDolorPalpitacion.help_text }} </span>
						{% for radio in form.aDolorPalpitacion %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.asnTumores.label_tag }}
					<span class="ayuda"> {{ form.asnTumores.help_text }} </span>
				</div>
				<div class="col-md-1" style="padding-right:0px;">
					<div class="form-group">
						{% for radio in form.asnTumores %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.aTumores }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					<div class="form-group">
						{{ form.fondoSaco.label_tag }}
						<span class="ayuda"> {{ form.fondoSaco.help_text }} </span>
						{% for radio in form.fondoSaco %}
						<span> {{ radio }} </span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">METODO INDICADO </h3>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					{{ form.fechaInicioMetodo.label_tag }}
					<span class="ayuda"> {{ form.fechaInicioMetodo.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.fechaInicioMetodo }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-10" >
					<div class="form-group">
						{{ form.anticonceptivo.label_tag }}
						<span class="ayuda"> {{ form.anticonceptivo.help_text }} </span>
						{% for radio in form.anticonceptivo %}
						<span> {{ radio }}    </span>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.miONombre.label_tag }}
					<span class="ayuda"> {{ form.miONombre.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.miONombre }}
					</div>
				</div>
				<div class="col-md-1" ></div>
				<div class="col-md-1" >
					{{ form.miOtros.label_tag }}
					<span class="ayuda"> {{ form.miOtros.help_text }} </span>
				</div>
				<div class="col-md-2" >
					<div class="form-group">
						{{ form.miOtros }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.diagnostico.label_tag }}
					<span class="ayuda"> {{ form.diagnostico.help_text }} </span>
				</div>
				<div class="col-md-6" style="padding-left: 25px;">
					<div class="form-group">
						{{ form.diagnostico }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-1" >
					{{ form.indicaciones.label_tag }}
					<span class="ayuda"> {{ form.indicaciones.help_text }} </span>
				</div>
				<div class="col-md-6" style="padding-left: 25px;">
					<div class="form-group">
						{{ form.indicaciones }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-info">
        <div class="panel-body" style="padding-left: 20px; padding-top: 0px;">
            <h3 class="page-header text-left">RESPONSABLE </h3>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					{{ form.fechaProximaConsulta.label_tag }}
					<span class="ayuda"> {{ form.fechaProximaConsulta.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.fechaProximaConsulta }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					{{ form.nombreResponsable.label_tag }}
					<span class="ayuda"> {{ form.nombreResponsable.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.nombreResponsable }}
					</div>
				</div>
			</div>
			<div class="row"  style="padding-top: 7px;">
				<div class="col-md-3" >
					{{ form.cargo.label_tag }}
					<span class="ayuda"> {{ form.cargo.help_text }} </span>
				</div>
				<div class="col-md-4" >
					<div class="form-group">
						{{ form.cargo }}
					</div>
				</div>
			</div>
		</div>
	</div>
		
    <div class="col-md-offset-2 col-md-10">
       <button id="save_inscripcionplanificacion" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
       <a href="{% url 'planificacionfamiliar-list' %}" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Volver a la lista</a>
    </div>
    </form>
{%endblock%}
