<!-- 
name: planificacionfamiliar-listsub
Presenta un listado de las consultas subsecuentes de una determinada paciente
!-->
{% extends "layouts/master.html" %}
{% load user_group %}

{% block pageheader %} Planificaci&oacute;n Familiar {%endblock%}
{% block paneltitle %} Consulta subsecuente {% endblock %}

{% block panelcontent%}
   {% if  user|has_group:"ginecologos" or user|has_group:"desarrolladores" %}
   <a href="{% url 'planificacionfamiliar-subnew' pk=pacienteI.pk %} " class="btn btn-success" title="Nueva consulta Subsecuente"><span class="glyphicon glyphicon-plus"></span> Nueva</a>
   {% endif %}
   <div class="panel panel-info" style="margin-top: 20px;">
        <div class="panel-body"  style="padding-left: 50px; padding-top: 0px;">
            <h3 class="page-header text-left">Datos Generales del paciente</h3>
			<div class="row">
				<div class="col-md-3" >
					Paciente: 
					<span class="subrayado">
						<strong>{{ datos.codigoPaciente }}</strong>
					</span>
				</div>
				<div class="col-md-6" >
					Fecha de Inscripci&oacute;n:
					<span class="subrayado">
						<strong>{{ pacienteI.fechaIngreso }}</strong>
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-10" >
					Nombre:
					<span class="subrayado">
						<strong>{{ datos.get_full_name }}</strong>
					</span>
				</div>
			</div>
			<div class="row"  style="padding-top: 17px;">
				<div class="col-md-3" >
					Edad: 
					<span class="subrayado">
						<strong>{{ datos.edad_paciente }}</strong>
					</span>
					A&ntilde;os
				</div>
				<div class="col-md-3" >
					Estado Civil:
					<span class="subrayado">
						<strong>{{ datos.estadoCivil }}A</strong>
					</span>
				</div>
				<div class="col-md-4" >
					Ocupacion:
					<span class="subrayado">
						{% if datos.estadoUes == 'EST' %}
						<strong>Estudiante</strong>
						{% elif datos.estadoUes == 'DOC' %}
						<strong>Docente</strong>
						{% elif datos.estadoUes == 'PAD' %}
						<strong>Pers.Administrativo</strong>
						{% else %}
						<strong>Otro</strong>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
	
   <div class="table-responsive" style="margin-bottom: 25px">
       <h3 class="page-header text-left">Consultas Subsecuentes</h3>
	   {% if pacientesub %} 
	   <table class="table table-hover" style="width: 70%; margin-right: auto; margin-left: auto;">
           <tr class="success">
               <th>Fecha de la consulta</th>
               <th class="opciones">Ver</th>
           </tr>
           {% for pacientes in pacientesub %}
             <tr>
                 <td>{{ pacientes.fechaIngreso}}</td>
                 <td class="opciones">
                     <a href="{% url 'planificacionfamiliar-subview' pk=pacientes.pacienteInscrito_id pacientesubsecuentepf_id=pacientes.codigoPlanificacionSub %}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
				 </td>
             </tr>
           {% endfor %}
       </table>
	   {% else %}
		<h3 class="vacio">LA PACIENTE AUN NO HA RECIBIDO CITAS SUBSECUENTES</h3>
	  {% endif %}
   </div>
   <div class="col-md-10 operaciones">
        <a href="{% url 'planificacionfamiliar-list' %}" class="btn btn-primary" title="Volver al Listado Anterior" style="float: left; "><span class="glyphicon glyphicon-arrow-left"></span> </a>
    </div>
{% endblock %}