{% extends "layouts/master.html" %}
{% load user_group %}

{% block pageheader %} Hoja de Consulta {%endblock%}
{% block paneltitle %} Crear Referencia Externa {% endblock %}

{% block panelcontent%}
<div class="container">
</div>

<!-- debug: visualizamos los errores del formulario -->
{% if form.non_field_errors %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

{% if form.errors %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        {{ form.errors }}
    </div>
</div>
{% endif %}
<!-- fin debug -->

<div class="container">
    <p class="text-right required-mark">(*) Campos Requeridos</p>
</div>

<form action="" method="post" role="form" data-toggle="validator">
    {% csrf_token %}
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-body">
                <!-- campos de control -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.cod_expediente.label_tag }}
                            <span class="required-mark">(*)</span> {{ form.cod_expediente }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.cod_doctor.label_tag }}
                            <span class="required-mark">(*)</span> {{ form.cod_doctor }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.cod_consulta.label_tag }}
                            <span class="required-mark">(*)</span> {{ form.cod_consulta }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <!-- fin campos de control -->

                <!-- datos del paciente -->
                <div class="form-group">
                    {{ form.referido_a.label_tag }}
                    <span class="required-mark">(*)</span> {{ form.referido_a }}
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    {{ form.nombre_paciente.label_tag }}
                    <span class="required-mark">(*)</span> {{ form.nombre_paciente }}
                    <div class="help-block with-errors"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.edad_paciente.label_tag }}
                            <span class="required-mark">(*)</span>
                            <div class="input-group">
                                {{ form.edad_paciente }}
                                <span class="input-group-addon" id="id_edad_paciente_addon">Años</span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.sexo_paciente.label_tag }}
                            <span class="required-mark">(*)</span> {{ form.sexo_paciente }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.telefono_paciente.label_tag }}
                            <span class="required-mark">(*)</span> {{ form.telefono_paciente }}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.domicilio_paciente.label_tag }}
                    <span class="required-mark">(*)</span> {{ form.domicilio_paciente }}
                    <div class="help-block with-errors"></div>
                </div>
                <!-- fin datos del paciente -->

                <!-- signos vitales -->
                <div class="page-header"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.presion_arterial.label_tag }}
                            <span class="required-mark">(*)</span>
                            <div class="input-group">
                                {{ form.presion_arterial }}
                                <span class="input-group-addon" id="id_presion_arterial_addon">mmHg</span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.frecuencia_cardiaca.label_tag }}
                            <span class="required-mark">(*)</span>
                            <div class="input-group">
                                {{ form.frecuencia_cardiaca }}
                                <span class="input-group-addon" id="id_frecuencia_cardiaca_addon">lat/min</span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.frecuencia_respiratoria.label_tag }}
                            <span class="required-mark">(*)</span>
                            <div class="input-group">
                                {{ form.frecuencia_respiratoria }}
                                <span class="input-group-addon" id="id_frecuencia_respiratoria_addon">resp/min</span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.temperatura.label_tag }}
                            <span class="required-mark">(*)</span>
                            <div class="input-group">
                                {{ form.temperatura }}
                                <span class="input-group-addon" id="id_temperatura_addon">°C</span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.peso.label_tag }}
                            <span class="required-mark">(*)</span>
                            <div class="input-group">
                                {{ form.peso }}
                                <span class="input-group-addon" id="id_peso_addon">lb</span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form.talla.label_tag }}
                            <span class="required-mark">(*)</span>
                            <div class="input-group">
                                {{ form.talla }}
                                <span class="input-group-addon" id="id_talla_addon">m</span>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <!-- fin signos vitales -->

                <!-- consulta -->
                <div class="page-header"></div>
                <div class="form-group">
                    {{ form.consulta_por.label_tag }}
                    <span class="required-mark">(*)</span> {{ form.consulta_por }}
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    {{ form.presenta_enfermedad.label_tag }} {{ form.presenta_enfermedad }}
                </div>
                <div class="form-group">
                    {{ form.antecedentes_personales.label_tag }} {{ form.antecedentes_personales }}
                </div>
                <div class="form-group">
                    {{ form.examen_fisico.label_tag }}
                    <span class="required-mark">(*)</span> {{ form.examen_fisico }}
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    {{ form.examenes_laboratorio.label_tag }} {{ form.examenes_laboratorio }}
                </div>
                <div class="form-group">
                    {{ form.impresion_diagnostica.label_tag }}
                    <span class="required-mark">(*)</span>{{ form.impresion_diagnostica }}
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    {{ form.observaciones.label_tag }} {{ form.observaciones }}
                </div>
                <!-- fin consulta -->
            </div>
        </div>
    </div>

    <!-- acciones -->
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-body text-center">
                <a href="{% url 'consulta-inicio' nkey=request.session.pacientenit dkey=request.session.doctorpk %}" class="btn btn-primary" role="button" aria-label="Back">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
                </a>
                <button type="submit" class="btn btn-success" aria-label="Floppy">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar Referencia
                </button>
            </div>
        </div>
    </div>
</form>

<!-- recuperamos las referencias del paciente vinculadas a la consulta -->
<div class="container">
    <div class="page-header">
        <h1 class="text-center">Listado de Referencias</h1>
    </div>
</div>

{% if externas_list %}
<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for ref in externas_list %}
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="heading_{{ref.id}}">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ref.id}}" aria-expanded="false" aria-controls="collapse_{{ref.id}}">
                        {{ ref.fecha|date:"l d F Y" }} {{ ref.fecha|time:"H:i a" }}
                    </a>
                    <span class="pull-right">{{ ref.referido_a }}</span>
                </h4>
            </div>

            <div id="collapse_{{ref.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ref.id}}">
                <div class="panel-body">
                    <!-- datos del paciente -->
                    <label for="id_referido_a_{{ref.id}}">Referido a:</label>
                    <div class="well well-sm">
                        {{ ref.referido_a }}
                    </div>

                    <label for="id_nombre_paciente_{{ref.id}}">Nombre:</label>
                    <div class="well well-sm">
                        {{ ref.nombre_paciente }}
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="id_edad_paciente_{{ref.id}}">Edad:</label>
                            <div class="well well-sm">
                                {{ ref.edad_paciente }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="id_sexo_paciente_{{ref.id}}">Sexo:</label>
                            <div class="well well-sm">
                                {{ ref.sexo_paciente }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="id_telefono_paciente_{{ref.id}}">Tel&eacute;fono:</label>
                            <div class="well well-sm">
                                {{ ref.telefono_paciente }}
                            </div>
                        </div>
                    </div>

                    <label for="id_domicilio_paciente_{{ref.id}}">Domicilio:</label>
                    <div class="well well-sm">
                        {{ ref.domicilio_paciente }}
                    </div>

                    <!-- signos vitales -->
                    <div class="row">
                        <div class="col-md-4">
                            <label for="id_presion_arterial_{{ref.id}}">Presi&oacute;n Arterial:</label>
                            <div class="well well-sm">
                                {{ ref.presion_arterial }} mmHg
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="id_frecuencia_cardiaca_{{ref.id}}">Frecuencia Cardiaca:</label>
                            <div class="well well-sm">
                                {{ ref.frecuencia_cardiaca }} lat/min
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="id_frecuencia_respiratoria_{{ref.id}}">Frecuencia Respiratoria:</label>
                            <div class="well well-sm">
                                {{ ref.frecuencia_respiratoria }} resp/min
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="id_temperatura_{{ref.id}}">Temperatura:</label>
                            <div class="well well-sm">
                                {{ ref.temperatura }} °C
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="id_peso_{{ref.id}}">Peso:</label>
                            <div class="well well-sm">
                                {{ ref.peso }} lb
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="id_talla_{{ref.id}}">Talla:</label>
                            <div class="well well-sm">
                                {{ ref.talla }} m
                            </div>
                        </div>
                    </div>

                    <!-- consulta -->
                    <label for="id_consulta_por_{{ref.id}}">Consulta por:</label>
                    <div class="well well-sm">
                        {{ ref.consulta_por }}
                    </div>

                    <label for="id_presenta_enfermedad_{{ref.id}}">Presenta enfermedad:</label>
                    <div class="well well-sm">
                        {{ ref.presenta_enfermedad }}
                    </div>

                    <label for="id_antecedentes_personales_{{ref.id}}">Antecedentes personales:</label>
                    <div class="well well-sm">
                        {{ ref.antecedentes_personales }}
                    </div>

                    <label for="id_examen_fisico_{{ref.id}}">Ex&aacute;men f&iacute;sico:</label>
                    <div class="well well-sm">
                        {{ ref.examen_fisico }}
                    </div>

                    <label for="id_examenes_laboratorio_{{ref.id}}">Ex&aacute;menes laboratorio:</label>
                    <div class="well well-sm">
                        {{ ref.examenes_laboratorio }}
                    </div>

                    <label for="id_impresion_diagnostica_{{ref.id}}">Impresi&oacute;n diagnostica:</label>
                    <div class="well well-sm">
                        {{ ref.impresion_diagnostica }}
                    </div>

                    <label for="id_observaciones_{{ref.id}}">Observaciones:</label>
                    <div class="well well-sm">
                        {{ ref.observaciones }}
                    </div>

                    <span class="pull-right">
                        <a id="modalpdfbtn" href="{% url 'externa-pdf' rpk=ref.id %}" class="btn btn-warning" role="button">Referencia PDF</a>
                        {% if ref.fecha > start_date and ref.fecha < end_date %}
                            <button id="{{ref.id}}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Eliminar Referencia</button>
                        {% else %}
                            <button disabled="disabled" id="{{ref.id}}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Eliminar Referencia</button>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- modal que captura la confirmación en la eliminación de una referencia -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">¿Eliminar Referencia?</h4>
            </div>

            <div class="modal-body">¿Est&aacute; seguro de que desea eliminar esta referencia?</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a id="modaldelbtn" href="#" class="btn btn-danger" role="button">Eliminar Referencia</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="alert alert-warning text-center" role="alert">
        <span class="glyphicon glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Message:</span> No se han encontrado referencias para el paciente !
    </div>
</div>
{% endif %}

<div class="container">
    <div class="page-header"></div>
</div>

<!-- script que se encarga de construir la url para eliminar una referencia -->
<script type="text/javascript">
    $(document).ready(function() {
        $("button").click(function(event) {
            var str = "eliminar/";
            console.info(str);

            var str2 = event.target.id;
            console.info(str2);

            var res = str.concat(str2);
            console.info(res);

            $("#modaldelbtn").attr("href", res)
        });
    });
</script>

{% endblock %}
