{% extends "layouts/master.html" %}

{% block pageheader %} Empleados de Bienestar Universitario {% endblock %}
{% block paneltitle %} Cambio de Password {% endblock %}

{% block panelcontent %}
{{form.errors}}
<form id="cu_cambiopassForm" action="" method="post">{% csrf_token %}
    <div class="ayuda" style="text-align:right">
			<p>(*) campos requeridos </p>
	</div>
	<div class="panel panel-info">
	    <div class="panel-body">
	        <div class="row">
	            <div class="col-md-3">
	            	<div class="form-group">
	            		{{form.pass1.label_tag}}
		                <span class="ayuda">(*)</span>
		                {{form.pass1}}
	            	</div>
	            </div>
	        </div>
	        <br /><br />
	        <div class="row">
	            <div class="col-md-3">
	            	<div class="form-group">
	            		{{form.pass2.label_tag}}
		                <span class="ayuda">(*)</span>
		                {{form.pass2}}
	            	</div>
	            </div>
	        </div>
	    </div>
	    <br /><br />
	    <div class="col-md-offset-4 col-md-4 operaciones">
	    	<button id="enviar" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
	    	<a href="{% url 'logouts' %}" class="btn btn-danger">Cerrar Sesi&oacute;n </a>
	</div>
	    </div>
	    
</form>	
{% endblock %}