<!-- 
name: psicologia-new y psicologia-update
Vista para la creacion y modificacion de expedientes de psicologia
!-->
{% extends "layouts/master.html" %}

{% block pageheader %} Clinica de Psicologia {% endblock %}
{% block paneltitle %} Ficha de identificaci&oacute;n del expediente cl&iacute;nico de Psicologia {% endblock %}

{% block panelcontent %}
{{form.errors}}
<form id="psicologiaForm" method="POST"> {% csrf_token %}
    <div class="ayuda" style="text-align:right">
			<p>(*) campos requeridos </p>
	</div>
	<div class="panel panel-info">
	    <div class="panel-body">
	    	
	        <h3 class="page-header text-left"><strong>I) Datos Generales</strong></h3>
	        
	        <div id="panel_nombre" class="row">
	        	
	        	<div class="col-md-2">
	        		<label for="expediente">Nª Expediente</label>
	        		<span class="ayuda">(*)</span>
	        		<input type="text" name="expediente" id="expediente" class="form-control" value="{{datos.codigoPaciente}}" readonly />
	        	</div>
	            
	            <div class="col-md-4">
	                <div class="form-group">
	                    <label for="nombre">Nombre: </label>
	                    <span class="ayuda">(*)</span>
	                    <input type="text" name="nombre" value="{{datos.get_full_name}}" class="form-control" readonly />
	                </div>
	            </div>
	            
	            <div class="col-md-3">
	                <div class="form-group">
	                    <label for="edad">Edad: </label>
	                    <span class="ayuda">(*)</span>
	                    <input type="text" name="edad" value="{{datos.edad_paciente}}" class="form-control" readonly />
	                </div>
	            </div>
	            
	            <div class="col-md-3">
	                <div class="form-group">
	                    <label for="sexo">Sexo: </label>
	                    <span class="ayuda">(*)</span>
	                    {% if datos.sexo == 'M' %}
	                    <input type="text" name="sexo" value="Masculino" class="form-control" readonly />
	                    {% else %}
	                    <input type="text" name="sexo" value="Femenino" class="form-control" readonly />
	                    {% endif %}
	                </div>
	            </div>
	            
	        </div>    
	        
	        <div id="panel_estadocivil" class="row">
	        	
	            <div class="col-md-3">
	                <div class="form-group">
	                    <label for="sexo">Estado Civil: </label>
	                    <span class="ayuda">(*)</span>
    	                    <input type="text" name="estadoCivil" value="{{datos.estadoCivil}}" class="form-control" readonly />
	                </div>
	            </div>
	            
	            <div class="col-md-3">
	                <div class="form-group">
	                    <label for="numeroHijos">Nº de Hijos: </label>
	                    <span class="ayuda"></span>
	                    {{ form.numero_hijos }}
	                </div>
	            </div>
	            
	            <div class="col-md-3">
	                <div class="form-group">
	                    <label for="fechaNacimiento">Fecha de Nacimiento: </label>
	                    <span class="ayuda"></span>
	                    <input type="text" name="fechaNacimiento" id="fechaNacimiento" class="form-control" value="{{datos.fechaNacimiento|date:'SHORT_DATE_FORMAT'}}" readonly />
	                </div>
	             </div>
	             
	             <div class="col-md-3">
	                <div class="form-group">
	                    <label for="profesion">Profesion u Ocupacion: </label>
	                    <span class="ayuda">(*)</span>
	                    {{ form.profesion }}
	                </div>
	            </div>
	            
	        </div>
	        
	        <div id="panel_direccion" class="row">
	            
	            <div class="col-md-7">
	                <div class="form-group">
	                    <label for="direccion">Direccion: </label>
	                    <span class="ayuda"></span>
	                    {% if datos.direccion and datos.codMunicipio and datos.codDepartamento %}
	                    <input type="text" id="direccion" class="form-control" style="max-width:624px" value="{{datos.direccion}}, {{datos.codMunicipio}}, {{datos.codDepartamento}}" readonly />
	                    {% else %}
	                    <input type="text" id="direccion" class="form-control" value="No Proporcionada Por el Paciente" readonly />
	                    {% endif %}
	                </div>
	            </div>
	            
	            <div class="col-md-4 col-md-offset-1">
	                <div class="form-group">
	                    <label for="telefono">Telefono: </label>
	                    <span class="ayuda"></span>
	                    {% if datos.telefono %}
	                    <input type="text" id="telefono" class="form-control" value="{{datos.telefono}}" readonly />
	                    {% else %}
	                    <input type="text" id="telefono" class="form-control" value="No Proporcionada Por el Paciente" readonly />
	                    {% endif %} 
	                </div>
	            </div>
	            
	        </div>
	        
	        <div id="panel_padres" class="row">
	            
	            <div class="col-md-4"> 
	                <div class="form-group">
	                    <label for="nombrePadre">Nombre del Padre: </label>
	                    <span class="ayuda"></span>
	                    {% if form.nombrePadre %}
	                        <input type="text" id="nombrePadre" class="form-control" value="{{datos.nombrePadre}}" readonly />
	                    {% else %}
	                        <input type="text" id="nombrePadre" class="form-control" value="No Proporcionado Por el Paciente" readonly />
	                    {% endif %}
	                </div>
	            </div>
	            
	            <div class="col-md-4"> 
	                <div class="form-group">
	                    <label for="nombreMadre">Nombre de la Madre: </label>
	                    <span class="ayuda"></span>
	                    {% if form.nombreMadre %}
	                        <input type="text" id="nombreMadre" class="form-control" value="{{datos.nombreMadre}}" readonly />
	                    {% else %}
	                        <input type="text" id="nombreMadre" class="form-control" value="No Proporcionado Por el Paciente" readonly />
	                    {% endif %}
	                </div>
	            </div>
	            
	            <div class="col-md-4">
	                <div class="form-group">
	                    <label for="responsable">Responsable: </label>
	                    <span class="ayuda">(*)</span>
	                    <input type="text" name="responsable" class="form-control" value="{{datos.emergencia}}" readonly />
	                </div>
	            </div>
	            
	        </div>

	        <div id= "panel_dirResponsable" class="row">
	            
	            <div class="col-md-7">
	                <div class="form-group">
	                    <label for="direccionResponsable">Direccion Responsable: </label>
	                    <span class="ayuda">(*)</span>
	                    {{ form.direccionResponsable }}
	                </div>
	            </div>
	            
	            <div class="col-md-4 col-md-offset-1">
	                <div class="form-group">
	                    <label for="telefonoResponsable">Telefono Responsable: </label>
	                    <span class="ayuda">(*)</span>
	                    <input type="text" id="telefonoResponsable" class="form-control" value="{{datos.telefonoEmergencia}}" readonly />
	                </div>
	            </div>
	        
	        </div>
	        
	        <div id= "panel_fechaPrimerC" class="row">
	            
	            <div class="col-md-3 ">
	                <div class="form-group">
	                    <label for="fecha_primeraConsulta">Fecha de la Primera Consulta: </label>
	                    <span class="ayuda">(*)</span>
	                    {{ form.fecha_primeraConsulta }}
	                </div>
	            </div>
	            
	            <div class="col-md-3 col-md-offset-1">
	                <div class="form-group">
	                    <label for="referido">Referido Por: </label>
	                    <span class="ayuda">(*)</span>
	                    {{ form.referido }}
	                </div>
	            </div>
	            
	            <div class="col-md-3 col-md-offset-1">
	                <div class="form-group">
	                    <label for="fecha">Fecha: </label>
	                    <span class="ayuda">(*)</span>
	                    <input type="text" name="fecha" class="form-control" value="{% now 'SHORT_DATE_FORMAT' %}" readonly />
	                </div>
	            </div>
	        
	        </div>
	        
	        <div id="panel_religion" class="row">
	            
	            <div class="col-md-3 col-md-offset-2">
	                <div class="form-group">
	                    <label for="religion">Religion que Profesa: </label>
	                    <span class="ayuda">(*)</span>
	                    {{ form.religion }}
	                </div>
	            </div>
	            
	            <div class="col-md-3 col-md-offset-2">
	            	<div class="form-group">
	            		<label for="familia">Cuantos componen la Familia: </label>
	                	<span class="ayuda">(*)</span>
	                	{{ form.familia }}
	            	</div>
	            </div>
	            
	        </div>
	        
	        <h3 class="page-header text-left"><strong>II) Motivo de la Consulta</strong></h3>
	        
	        <div id="motivo" class="row">
	        	
	        	<div class="col-md-12">
	        		<div class="form-group">
	        			<label for="motivo">Motivos de la Consulta: </label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.motivo }}
	        		</div>
	        	</div>
	        	
	        </div>

	    </div>
	    
	    <div class="panel-body">
	    	
	    	<h3 class="page-header text-left"><strong>III) Antecedentes del Problema</strong></h3>
	    	
	    	<div id="panel_antecendentes" class="row">
	    		
	    		<div class="col-md-12">
	        		<div class="form-group">
	        			<label for="antecedentes">Antecedentes: </label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.antecedentes }}
	        		</div>
	        	</div>
	        	
	    	</div>
	    	
	    	<h3 class="page-header text-left"><strong>IV) Observaciones</strong></h3>
	    	
	    	<div id="panel_apariencia" class="row">
	        	
	        	<div class="col-md-7">
	        		<div class="form-group">
	        			<label for="apariencia">Apariencia Externa:</label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.apariencia }}
	        		</div>
	        	</div>
	        	
	        	<div class="col-md-4 col-md-offset-1">
	        		<div class="form-group">
	        			<label for="voz">Voz:</label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.voz }}
	        		</div>
	        	</div>
	        	
	        </div>
	    	
	    	<div  id="panel_patrones" class="row">
	    		
				<div class="col-md-4">
	     			<div class="form-group">
	        			<label for="patrones">Patrones de Habla: </label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.patrones }}
	      			</div>
				</div>
				
				<div class="col-md-4">
	     			<div class="form-group">
	        			<label for="expresionesF">Expresiones Faciales: </label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.expresionesF }}
	      			</div>
				</div>
				
				<div class="col-md-4">
	     			<div class="form-group">
	        			<label for="ademanes">Ademanes: </label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.ademanes }}
	      			</div>
				</div>
				
			</div>

	    	<div  id="panel_actitudes" class="row">

				<div class="col-md-12">
	     			<div class="form-group">
	        			<label for="actitudes_tx">Actitudes Hacia el TX:</label>
	        			<span class="ayuda">(*)</span>
	        			{{ form.actitudes_tx }}
	      			</div>
				</div>

			</div>
			
			<h3 class="page-header text-left"><strong>V) Impresion DX</strong></h3>
			
			<div class="row" id="panel_impresion">
				
				<div class="col-md-12">
					<div class="form-group">
						<label for="impresion_dx">Impresion DX: </label>
						<span class="ayuda">(*)</span>
						{{ form.impresion_dx }}
					</div>
				</div>
				
			</div>
			
			<h3 class="page-header text-left"><strong>VI) Plan de  TX</strong></h3>
			
			<div class="row" id="panel_plan">
				
				<div class="col-md-12">
					<div class="form-group">
						<label for="plan_tx">Plan de TX</label>
						<span class="ayuda">(*)</span>
						{{ form.plan_tx }}
					</div>
				</div>
				
			</div>
			
			<h3 class="page-header text-left"><strong>VII) Pronostico</strong></h3>
			
			<div class="row" id="panel_pronostico">
				
				<div class="col-md-12">
					<div class="form-group">
						<label for="pronostico">Pronostico: </label>
						<span class="ayuda">(*)</span>
						{{ form.pronostico }}
					</div>
				</div>
				
			</div>
			
			<div class="row" id="panel_fechaProximaCita">
				
				<div class="col-md-3">
					<div class="form-group">
						<label for="fecha_proximaCita">Fecha de Proxima Cita</label>
						<span class="ayuda">(*)</span>
						{{ form.fecha_proximaCita }}
					</div>	
				</div>
				
			</div>
	    	
	    </div>
	    
	</div>
	
	<div class="col-md-offset-4 col-md-4 operaciones">
      <button id="guardar_psicologia" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
      <a href="{% url 'psicologia-list' %}" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Volver a la lista</a>
    </div>
	
</form>
{% endblock %}